
      <top-bar></top-bar>
      <body class="justify-content-center abs-center mt-5 pt-5 abs-center">
          <div class="col-7">
              <br>
              <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
              <div class="container border rounded rounden-2 p-2">
              <div class="w-100 row m-auto">
              <br>
              <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
              <div class="w-100 row m-auto">
                   
                  <div class="row text-center">
                      <h2 class="l-4" ><font color='black'>Editar una Actividad</font></h2>
                  </div>
                  
                  <div class="d-grid gap-2 d-md-flex justify-content-end">
      
                  </div>
                <div class="col-10">
                  <label for="inputNombre" class="form-label"  name="nombre">Nombre:</label>
                  <textarea type="text" class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="nombre" rows="2" value="{{actividad.nombre}}" >
                  </textarea>
                  </div>     <div class="col-10 mb-3">
                    <label for="descripcion" class="form-label">Descripcion:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="descripcion" rows="2" value="{{actividad.descripcion}}" ></textarea>
                  </div>
                  <div class="col-10">
                    <label for="estado" class="row col-form-label">Estado:</label>
                    <select class="form-select" aria-label="Default select example"name="estado"
                    [(ngModel)]="estado_seleccionado" required>
                        <option selected>Seleccione el estado actual de la actividad</option>
                        <option value="1">FORMULACION</option>
                        <option value="2">REFORMULACION</option>
                        <option value="3">REVISION</option>
                        <option value="4">APROBADO</option>
                        <option value="5">RECHAZADO</option>
                        
                      </select>
                </div>
                <div class="col-10">
                    <label for="tipoActividad" class="row col-form-label">Tipo de actividad:</label>
                    <select class="form-select" aria-label="Default select example"name="tipoActividad"
                    [(ngModel)]="tipo_seleccionado" required>
                                    <option selected>Seleccione el tipo de actual de la actividad</option>
                        <option value="1">ACADEMICA</option>
                        <option value="2">ADMINISTRATIVA</option>
                
                        
                      </select>
                </div>
                <div class="col-10">
                    <label for="categoria" class="row col-form-label">Categoria:</label>
                    <select class="form-select" aria-label="Default select example"name="categoria"[(ngModel)]="categoria_seleccionado" required>
                        <option selected>Seleccione el estado actual de la actividad</option>
                        <option value="1">COORDINACION</option>
                        <option value="2">JEFATURA</option>
                        <option value="2">ADMINISTRATIVA</option>
                
                        
                      </select>
                </div>
         
                  <div class="container">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button type="button" class="btn btn-secondary" (click)="toDetail()">Regresar</button>
                    <button type="submit" class="btn btn-warning" (click)="update()" >Actualizar</button>
                </div>
              </div>
            </div>

          </div>
              </div>
            </div>
      </body>
      
              
