<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <br>
      <div class="container GetUser"> 
      <h2 >Buscar Usuario</h2>

    <div class="input-group">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
      <!--Input donde obtenemos el id del usuario a obtener -->
        <input type="text" [(ngModel)]="id" class="form-control mr-sm-2" id="inlineFormInputName2" placeholder="Ingrese el ID del usuario">
       <!-- Boton mediante el cual al hacer click invocamos la funcion para obetener el usuario -->
        <button type="submit" (click)="getUser()" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">Obtener Usuario</button>
      

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Usuario </h5>
        <button type="button" class="close" (click)="cleanData()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <div class="modal-body">
        
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Empleado</th>
                <th>Rol Asignado</th>
              </tr>
            </thead>
            <tbody>
              <!--Obtenemos los resultados desde la lista en la cual almacenamos el usuario,
              Utilizamos el componente objToArray para convertir el objeto en un array-->
              <tr *ngFor="let users of userList | objToArray">
                <th>{{ users.id }}</th>
                <td>{{ users.username }}</td>
                <td>{{ users.empleado.nombre }} {{users.empleado.apellido}}</td>
                <td>{{ users.role.rol }}</td>
              </tr>
            </tbody>
          </table>
          
          <div *ngIf="user.check == '404'">
            <p align="center"> User not found </p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="cleanData()" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
    </div>
    
    </div>
    
</body>
</html>