<top-bar></top-bar>
<app-back-button></app-back-button>
<div class="mt-5 pt-4">
    <div class="contenedor rounded border border-dark" style="background-color: white;">
        <div class="row">
            <div class="row text-center">
                <h2></h2>
                <h2 class="l-4">Reportes y Estadisticos</h2>
                <div class="boton">
                    <button mat-raised-button style="background-color: green; color: white;"><i
                            class="bi bi-arrow-down"></i>
                        Exportar a Excel</button>
                </div>
            </div>
        </div>
        <div class="contenedor_card">
            <div class="col-10 select">
                <label for="id"  style="font-size: 18px;">Seleccione un Departamento mi loco:</label>
                <select class="form-control" style="border-radius: 20px;" aria-label="Default select example" name="id"
                    required>
                    <!-- <select class="form-control" style="border-radius: 20px;" aria-label="Default select example" name="id"
                            [(ngModel)]="actividad_seleccionada"
                            (ngModelChange)="selectActividad()" required> -->

                    <!-- <ng-container *ngFor="let x of ActividadListS">
                                <option value="{{x.id}}" [selected]="x.id===idActividad">{{x.nombre}}</option>
                            </ng-container> -->
                            <option> No ha seleccionado nada mi loco</option>
                </select>

            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card border-secondary ">
                        <div class="card-body">
                            <mat-tab-group mat-align-tabs="center">
                                <mat-tab label="Cantidad">egresga </mat-tab>
                                <mat-tab label="Porcentaje"> aegeblgke</mat-tab>
                                <mat-tab label="La Que se ocurra">welfbwhlefdlh</mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-secondary">

                        <div class="card-body">
                            <mat-tab-group mat-align-tabs="center">
                                <mat-tab label="Cantidad">egresga </mat-tab>
                                <mat-tab label="Porcentaje"> aegeblgke</mat-tab>
                                <mat-tab label="La Que se ocurra">welfbwhlefdlh</mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-secondary" style="margin-right: 6%;">
                        <div class="card-body">
                            <mat-tab-group mat-align-tabs="center">
                                <mat-tab label="Cantidad">egresga </mat-tab>
                                <mat-tab label="Porcentaje"> aegeblgke</mat-tab>
                                <mat-tab label="La Que se ocurra">welfbwhlefdlh</mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <table mat-table class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell> 1 </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell> Prueba </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell> Prueba </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell> Prueba </td>
            </ng-container>


        </table>


    </div>
</div>