<top-bar></top-bar>
<app-back-button></app-back-button>
<div class="container-fluid">
<div class="d-flex align-items-center justify-content-center mt-5 pt-4">
 <div> 
    <div class="contenedor justify-content-center rounded border border-dark" style="background-color: white;">
        <div class=" titulo">
            <div class="titulo">
                <h2></h2>
                <h2 class="l-4">Reportes y Estadisticos</h2>
              
            </div>
        </div>
       
            <div class=" container row row-cols-1 row-cols-md-2 select" >
              <div class="col">
                <label for="id"  style="font-size: 18px;">Seleccione un Departamento:</label>
        
                    <select class="form-control" style="border-radius: 20px;" aria-label="Default select example" name="id"
                    [(ngModel)]="departamento_seleccionado"
                            (ngModelChange)="selectDepto()" required>

                    <ng-container *ngFor="let x of deptoList">
                                <option value="{{x.id}}" [selected]="x.id===idDepto">{{x.name}}</option>
                            </ng-container>
                           
                </select>
              </div>
              <div class="col">
                <label for="id"  style="font-size: 18px;">Seleccione un POA:</label>
        
                    <select class="form-control" style="border-radius: 20px;" aria-label="Default select example" name="id"
                    [(ngModel)]="poa_seleccionado"
                            (ngModelChange)="selectPoa()" required>

                    <ng-container *ngFor="let x of poaList">
                                <option value="{{x.id}}" [selected]="x.id===idPoa">{{x.name}}</option>
                            </ng-container>
                           
                </select>
              </div>

            </div>
             <div class="contenedor_card">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card border-secondary ">
                        <div class="card-body">
                            <mat-tab-group mat-align-tabs="center">
                                <mat-tab label="Cantidad">egresga </mat-tab>
                                <mat-tab label="Porcentaje"> aegeblgke</mat-tab>
                                <mat-tab label="La Que se ocurra">welfbwhlefdlh</mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-secondary">

                        <div class="card-body">
                            <mat-tab-group mat-align-tabs="center">
                                <mat-tab label="Cantidad">egresga </mat-tab>
                                <mat-tab label="Porcentaje"> aegeblgke</mat-tab>
                                <mat-tab label="La Que se ocurra">welfbwhlefdlh</mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-secondary" style="margin-right: 6%;">
                        <div class="card-body">
                            <mat-tab-group mat-align-tabs="center">
                                <mat-tab label="Cantidad">
                                  <br>
                                  <br>
                                  <nz-row>
                                    <nz-col [nzSpan]="8">
                                      <nz-statistic align="center" [nzValue]="(listTareas.length | number)!" [nzTitle]="'Tareas'" [nzPrefix]="prefixTpl"></nz-statistic>
                                      <ng-template #prefixTpl><span><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#F4D03F" class="bi bi-list-task" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z"/>
                                        <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z"/>
                                        <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z"/>
                                      </svg></span></ng-template>
                                    </nz-col>
                                    <nz-col [nzSpan]="8">
                                      <nz-statistic align="center" [nzValue]="(listTareas.length | number)!" [nzTitle]="'presupuesto'"></nz-statistic>
                                    </nz-col>
                                    <nz-col [nzSpan]="8">
                                      <nz-statistic align="center" [nzValue]="(listTareas.length | number)!" [nzTitle]="'presupuesto'"></nz-statistic>
                                    </nz-col>
                                  </nz-row>

                                </mat-tab>
                                <mat-tab label="Porcentaje">
                                  <br>
                                  <br>
                                  
                                  <nz-progress [nzPercent]="90" nzType="circle" [nzWidth]="100"></nz-progress>
                                 
                                  <nz-progress [nzPercent]="70" nzType="circle" [nzWidth]="100"></nz-progress>
                                  
                                  <nz-progress [nzPercent]="100" nzType="dashboard" [nzWidth]="100">Fuente</nz-progress>

                                </mat-tab>
                                <mat-tab label="La Que se ocurra">welfbwhlefdlh</mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>

        </div>
<div class="row row-cols-1 row-cols-md-6 boton">
        <div class="col ">
          <button mat-raised-button style="background-color: green; color: white;" (click)="exporter.exportTable('xlsx',{fileName:'prueba12'});openSnackBar()"><i
                  class="bi bi-arrow-down"></i>
              Exportar a Excel</button>
      </div>
      <div class=" col">
        <button mat-raised-button style="background-color: green; color: white;" (click)="exporter.exportTable('csv',{fileName:'prueba12'});openSnackBar()"><i
                class="bi bi-arrow-down"></i>
            Exportar a CSV</button>
    </div>
  </div>
<br>
        <table mat-table matTableExporter [dataSource]="dataSource" class="mat-elevation-z8" #exporter="matTableExporter" tabindex="0">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container  matColumnDef="Nombre_Departamento" sticky>
              <th mat-header-cell *matHeaderCellDef>Nombre del Departamento </th>
              <td mat-cell *matCellDef="let element"> {{element.depto.name}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <!-- <ng-container matColumnDef="Descripcion_Departamento">
              <th mat-header-cell *matHeaderCellDef> Descripcion del Departamento </th>
              <td mat-cell *matCellDef="let element"> {{element.depto.descripcion}} </td>
            </ng-container> -->
          
            <!-- Weight Column -->
            <ng-container matColumnDef="Nombre_Poa">
              <th mat-header-cell *matHeaderCellDef> Nombre del POA </th>
              <td mat-cell *matCellDef="let element"> {{element?.poa.name}} </td>
            </ng-container>

            <ng-container matColumnDef="Año">
                <th mat-header-cell *matHeaderCellDef> Año del POA </th>
                <td mat-cell *matCellDef="let element"> {{element?.poa.anio}} </td>
              </ng-container>
              <ng-container matColumnDef="Fuente11">
                <th mat-header-cell *matHeaderCellDef> Fuente 11 </th>
                <td mat-cell *matCellDef="let element"> {{element?.poa.fuente11}} </td>
              </ng-container>
              <ng-container matColumnDef="Fuente12">
                <th mat-header-cell *matHeaderCellDef> Fuente 12 </th>
                <td mat-cell *matCellDef="let element"> {{element?.poa.fuente12}} </td>
              </ng-container>
              <ng-container matColumnDef="Fuente12B">
                <th mat-header-cell *matHeaderCellDef> Fuente 12B </th>
                <td mat-cell *matCellDef="let element"> {{element?.poa.fuente12B}} </td>
              </ng-container>
              <ng-container matColumnDef="Nombre_Actividad">
                <th mat-header-cell *matHeaderCellDef> Nombre de la Actividad </th>
                <td mat-cell *matCellDef="let element"> {{element?.actividade.nombre}} </td>
              </ng-container>
              <!-- <ng-container matColumnDef="Descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripcion de la Actividad </th>
                <td mat-cell *matCellDef="let element"> {{element?.actividade.descripcion}}</td>
              </ng-container> -->
              <ng-container matColumnDef="Estado">
                <th mat-header-cell *matHeaderCellDef> Estado de la Actividad </th>
                <td mat-cell *matCellDef="let element"> {{element?.actividade.estado}} </td>
              </ng-container>
              <ng-container matColumnDef="Tipo_Actividad">
                <th mat-header-cell *matHeaderCellDef> Tipo de Actividad </th>
                <td mat-cell *matCellDef="let element"> {{element?.actividade.tipoActividad}} </td>
              </ng-container>
              <ng-container matColumnDef="Categoria_Actividad" stickyEnd>
                <th mat-header-cell *matHeaderCellDef > Categoria de la Actividad</th>
                <td mat-cell *matCellDef="let element"> {{element?.actividade.categoria}} </td>
              </ng-container>
              <ng-container matColumnDef="Nombre_Tarea" stickyEnd>
                <th mat-header-cell *matHeaderCellDef > Tarea</th>
                <td mat-cell *matCellDef="let element"> {{element?.nombre}}</td>
              </ng-container>

              
              <ng-container matColumnDef="Cantidad">
                <th align="center" mat-header-cell *matHeaderCellDef >Cantidad</th>
                <td align="center" mat-cell *matCellDef="let element"> {{element?.presupuesto?.cantidad||0}} </td>
              </ng-container>
              <ng-container matColumnDef="costo">
                <th align="center" mat-header-cell *matHeaderCellDef >Costo</th>
                <td align="center" mat-cell *matCellDef="let element"> {{element?.presupuesto?.costounitario||0| currency:'L.'}} </td>
              </ng-container>
              <ng-container matColumnDef="total" >
                <th align="center" mat-header-cell *matHeaderCellDef >Total</th>
                <td align="center" mat-cell *matCellDef="let element"> {{element?.presupuesto?.total||0| currency:'L.'}} </td>
              </ng-container>
              <ng-container matColumnDef="fuente" >
                <th mat-header-cell *matHeaderCellDef>Fuente</th>
                <td align="center" mat-cell *matCellDef="let element"> {{element?.presupuesto?.fuente?.identificador}} </td>
              </ng-container>
              <ng-container matColumnDef="grupo">
                <th mat-header-cell *matHeaderCellDef >Objeto</th>
                <td mat-cell *matCellDef="let element"> {{element?.presupuesto?.grupogasto?.identificador}} </td>
              </ng-container>
              <ng-container matColumnDef="objeto" stickyEnd>
                <th mat-header-cell *matHeaderCellDef >Grupo</th>
                <td mat-cell *matCellDef="let element"> {{element?.presupuesto?.objetogasto?.identificador}} </td>
              </ng-container>

            <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container> -->
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>>
          </table>
        </div>


</div>
</div>
</div>