<top-bar></top-bar>
<app-back-button [path]="['/home']"></app-back-button>
<div>
<div class=" mt-5 pt-4">
 
    <div class="contenedor justify-content-center rounded border border-dark shadow-lg" style="background-color: white;">
        <div class=" titulo">
            <div class="titulo">
                <h2></h2>
                <h2 class="l-4 ">Reportes y Estadisticos</h2>
              
            </div>
        </div>
       
            <div class=" container row row-cols-1 row-cols-md-2 select " >
              <div class="col ">
                <label for="id"  style="font-size: 18px;">Seleccione un Departamento:</label>
        
                    <select class="form-control shadow" style="border-radius: 20px;" aria-label="Default select example" name="id"
                    [(ngModel)]="idDepto"
                            (ngModelChange)="selectdepto(idDepto)" required>
                            <option>Seleccione</option>
                    <ng-container *ngFor="let x of deptoList">
                                <option value="{{x.id}}">{{x.name}}</option>
                            </ng-container>
                           
                </select>
              </div>
              <div class="col">
                <label for="id"  style="font-size: 18px;">Seleccione un POA:</label>
        
                    <select class="form-control shadow" style="border-radius: 20px;" aria-label="Default select example" name="id"
                    [(ngModel)]="idPoa"
                    (ngModelChange)="initData(idPoa,idDepto)">
                    <option>Seleccione</option>
                    <ng-container *ngFor="let x of poaList">
                                <option value="{{x.id}}" >{{x.name}}</option>
                            </ng-container>
                           
                </select>
              </div>

            </div>
             <div class="contenedor_card">
            <div class="row row-cols-1 row-cols-md-3 ">
                <div class="col">
                    <div class="card border-secondary shadow">
                        <div class="card-body">
                            <mat-tab-group mat-align-tabs="center" style="margin-top: -3%;">
                              
                                <mat-tab label="Techo Presupuestario" >

                                    <!-- <h2 class="card-header bg-info" style="color:white;">Resumen de Presupuesto:</h2> -->
                                   
                                      <div class="table-responsive">
                                        <table class="table table-hover shadow-lg" style="margin-top: 2%;">
                                          <thead>
                                            <tr>
                                              <th scope="col">F.</th>
                                              <th scope="col">Techo</th>
                                              <th scope="col">Gastado</th>
                                              <th scope="col">Disponible</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th scope="row">Fuente 11</th>
                                              <td>{{+PoaList.fuente11| currency:'L'}}</td>
                                              <td>{{gastosFuente11| currency:'L'}}</td>
                                              <td><strong>{{+PoaList.fuente11-gastosFuente11| currency:'L'}}</strong></td>
                                              <!-- <td >{{+PoaList.fuente11-gastosFuente11| currency:'L'}}</td> -->
                              
                                            </tr>
                                            <tr>
                                              <th scope="row">Fuente 12</th>
                                              <td>{{+PoaList.fuente12| currency:'L'}}</td>
                                              <td>{{gastosFuente12| currency:'L'}}</td>
                                              <td><strong>{{+PoaList.fuente12-gastosFuente12| currency:'L'}}</strong></td>
                                            </tr>
                                            <tr>
                                              <th scope="row">Fuente 12B</th>
                                              <td>{{+PoaList.fuente12B| currency:'L'}}</td>
                                              <td>{{gastosFuente12B| currency:'L'}}</td>
                                              <td><strong>{{+PoaList.fuente12B-gastosFuente12B| currency:'L'}}</strong></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                  
                        
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
                <div class="col"> 
                    <div class="card border-secondary shadow">

                        <div class="card-body">
                            <mat-tab-group mat-align-tabs="center" style="margin-top: -3%;">
                                <mat-tab label="Estado" >
                                  <nz-row class="border rounded" style="margin-top: 3%; margin-bottom: 3%; ">
                                    <nz-col [nzSpan]="8" style="margin-top: 2%; margin-bottom: 2%;">
                                      <nz-statistic align="center" [nzValue]="(listActividades.length | number)!" [nzTitle]="'Actividades'"></nz-statistic>
                                      
                                    </nz-col>
                                    <nz-col [nzSpan]="8" style="margin-top: 2%; margin-bottom: 2%;">
                                      <nz-statistic align="center" [nzValue]="(listActividadesFormulacion.length | number)!" [nzTitle]="'Formulacion'"></nz-statistic>
                                    </nz-col>
                                    <nz-col [nzSpan]="8" style="margin-top: 2%; margin-bottom: 2%;">
                                      <nz-statistic align="center" [nzValue]="(listActividadesReFormulacion.length | number)!" [nzTitle]="'Reformulacion'"></nz-statistic>
                                    </nz-col>
                                  </nz-row>
                                  <nz-row class="border rounded" style="margin-top: 3%; margin-bottom: 3%;">
                                    <nz-col [nzSpan]="8" style="margin-top: 2%; margin-bottom: 2%;">
                                     <nz-statistic align="center" [nzValue]="(listActividadesRevision.length | number)!" [nzTitle]="'Revision'" ></nz-statistic>
                                     
                                    </nz-col>
                                    <nz-col [nzSpan]="8" style="margin-top: 2%; margin-bottom: 2%;">
                                      <nz-statistic align="center" [nzValue]="(listActividadesAprobada.length | number)!" [nzTitle]="'Aprobada'"></nz-statistic>
                                    </nz-col>
                                    <nz-col [nzSpan]="8" style="margin-top: 2%; margin-bottom: 2%;">
                                      <nz-statistic align="center" [nzValue]="(listActividadesRechazada.length | number)!" [nzTitle]="'Rechazada'"></nz-statistic>
                                    </nz-col>
                                  </nz-row>

                                </mat-tab>
                                <!-- <mat-tab label="Porcentaje">
                                  Formulación
                                  <div class="row">
                                    <div class="col-10">
                                  <mat-progress-bar style="height: 15px;" color="warn" mode="determinate" value="{{(listActividadesFormulacion.length/listActividades.length)*100}}"></mat-progress-bar>
                                </div>
                                <div class="col-2">
                                 <h4>{{listActividadesFormulacion.length}}</h4> 
                                </div>
                                </div>
                                  Reformulación
                                  <mat-progress-bar style="height: 15px;" color="warn" mode="determinate" value="{{(listActividadesReFormulacion.length/listActividades.length)*100}}"></mat-progress-bar>
                                  Revision
                                  <mat-progress-bar style="height: 15px;" color="warn" mode="determinate" value="{{(listActividadesRevision.length/listActividades.length)*100}}"></mat-progress-bar>
                                  Aprobada
                                  <mat-progress-bar style="height: 15px;" color="warn" mode="determinate" value="{{(listActividadesAprobada.length/listActividades.length)*100}}"></mat-progress-bar>
                                  Rechazada
                                  <mat-progress-bar style="height: 15px;" color="warn" mode="determinate" value="{{(listActividadesRechazada.length/listActividades.length)*100}}"></mat-progress-bar>

                                </mat-tab> -->
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-secondary shadow" style="margin-right: 6%;">
                        <div class="card-body">
                            <mat-tab-group mat-align-tabs="center" style="margin-top: -3%;">
                              <mat-tab label="Porcentaje">
                                  
                                <div class="container row row-cols-1 row-cols-md-3" style="text-align: center; margin-top: 11%;">
                                  <div class="col" >
                                    <p>Fuente 11</p>
                                <nz-progress [nzPercent]="(gastosFuente11/+PoaList.fuente11*100)|number : '1.2-2'" nzType="circle" [nzStrokeColor]="{ '0%': '#F09A1A', '100%': '#F0253A' }" [nzWidth]="90"></nz-progress>
                              </div>
                              <!-- (gastosFuente11/+PoaList.fuente11*100) -->
                              <div class="col">
                                <p>Fuente 12</p>
                                <nz-progress [nzPercent]="(gastosFuente12/+PoaList.fuente12*100)|number : '1.2-2'" nzType="circle" [nzStrokeColor]="{ '0%': '#439FAD', '100%': '#41F01D' }" [nzWidth]="90"></nz-progress>
                              </div>
                              <!-- [nzPercent]="(gastosFuente12/+PoaList.fuente12*100) -->
                              <div class="col">
                                <p>Fuente 12B</p>
                                <nz-progress [nzPercent]="(gastosFuente12B/+PoaList.fuente12B*100)|number : '1.2-2'" nzType="circle" [nzStrokeColor]="{ '0%': '#19D0E3', '100%': '#AF2FE6' }" [nzWidth]="90" >Fuente</nz-progress>
                              </div>
                              <!-- (gastosFuente12B/+PoaList.fuente12B*100) -->
                            </div>
                              </mat-tab>
                                <mat-tab label="Cantidad">
                     
                                  <nz-row class="border rounded" style="margin-top: 3%; margin-bottom: 3%;  ">
                                    <nz-col [nzSpan]="8" style="margin-top: 2%; margin-bottom: 2%;">
                                      <nz-statistic align="center" [nzValue]="(listTareas.length | number)!" [nzTitle]="'Tareas'"></nz-statistic>
                                      
                                    </nz-col>
                                    <nz-col [nzSpan]="8" style="margin-top: 2%; margin-bottom: 2%;">
                                      <nz-statistic align="center" [nzValue]="(listsPTareas.length | number)!" [nzTitle]="'Presupuesto'"></nz-statistic>
                                    </nz-col>
                                    <nz-col [nzSpan]="8" style="margin-top: 2%; margin-bottom: 2%;">
                                      <nz-statistic align="center" [nzValue]="(listnPTareas.length | number)!" [nzTitle]="'Sin presupuesto'"></nz-statistic>
                                    </nz-col>
                                  </nz-row>
                                  <nz-row class="border rounded" style="margin-top: 3%; margin-bottom: 3%;">
                                    <nz-col [nzSpan]="8" style="margin-top: 2%; margin-bottom: 2%;">
                                     <nz-statistic align="center" [nzValue]="(listFuente11.length | number)!" [nzTitle]="'Fuente 11'" ></nz-statistic>
                                     
                                    </nz-col>
                                    <nz-col [nzSpan]="8" style="margin-top: 2%; margin-bottom: 2%;">
                                      <nz-statistic align="center" [nzValue]="(listFuente12.length | number)!" [nzTitle]="'Fuente 12'"></nz-statistic>
                                    </nz-col>
                                    <nz-col [nzSpan]="8" style="margin-top: 2%; margin-bottom: 2%;">
                                      <nz-statistic align="center" [nzValue]="(listFuente12B.length | number)!" [nzTitle]="'Fuente 12B'"></nz-statistic>
                                    </nz-col>
                                  </nz-row>
                                  
                                </mat-tab>
                                
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>

        </div>
<div class="row row-cols-1 row-cols-md-6 boton">
        <div class="col ">
          <button mat-raised-button style="background-color: green; color: white;" (click)="exporter.exportTable('xlsx',{fileName:PoaList.name});openSnackBar()">
            <i class="bi bi-file-spreadsheet-fill"></i>
              Exportar a Excel</button>
      </div>
      <div class=" col">
        <button mat-raised-button style="background-color: green; color: white;" (click)="exporter.exportTable('csv',{fileName:'prueba12'});openSnackBar()">
          <i class="bi bi-file-spreadsheet-fill"></i>
            Exportar a CSV</button>
    </div>
  </div>

  
 
<div class="card shadow" style="width: 96%; margin-left: 2%; margin-top: 2%; height: 420px; margin-bottom: 1%;">
<div class="card-body" style="margin-left: -1%; margin-bottom: -15%;">
<div class="scroll">
<br>
<br>
        <table class="shadow-lg" mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter" tabindex="0">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container  matColumnDef="Pei_Institucional">
              <th style="min-width: 270px; text-align: center;" mat-header-cell *matHeaderCellDef>Pei Institucional</th>
              <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade?.resultado?.pei?.name}} </td>
            </ng-container>
            <ng-container  matColumnDef="Dimension_Institucional">
              <th style="min-width: 270px; text-align: center;" mat-header-cell *matHeaderCellDef>Dimensión Institucional</th>
              <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade?.resultado?.dimension?.nombre}} </td>
            </ng-container>
            <ng-container  matColumnDef="Objetivo_Institucional">
              <th style="min-width: 270px; text-align: center;" mat-header-cell *matHeaderCellDef>Objetivo Institucional</th>
              <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade?.resultado?.objetivo?.nombre}} </td>
            </ng-container>
            <ng-container  matColumnDef="Area_Institucional">
              <th style="min-width: 270px; text-align: center;" mat-header-cell *matHeaderCellDef>Área Institucional</th>
              <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade?.resultado?.area?.nombre}} </td>
            </ng-container>
            <ng-container  matColumnDef="Resultado_Institucional">
              <th style="min-width: 270px; text-align: center;" mat-header-cell *matHeaderCellDef>Resultado Institucional</th>
              <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade?.resultado?.nombre}} </td>
            </ng-container>


            <ng-container  matColumnDef="Nombre_Departamento">
              <th style="min-width: 270px; text-align: center;" mat-header-cell *matHeaderCellDef>Nombre del Departamento </th>
              <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element.depto.name}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <!-- <ng-container matColumnDef="Descripcion_Departamento">
              <th mat-header-cell *matHeaderCellDef> Descripcion del Departamento </th>
              <td mat-cell *matCellDef="let element"> {{element.depto.descripcion}} </td>
            </ng-container> -->
          
            <!-- Weight Column -->
            <ng-container matColumnDef="Nombre_Poa">
              <th style="min-width: 100px; text-align: center;"  mat-header-cell *matHeaderCellDef> Nombre del POA </th>
              <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.poa.name}} </td>
            </ng-container>

            <ng-container matColumnDef="Año">
                <th style="min-width: 90px; text-align: center;" mat-header-cell *matHeaderCellDef> Año del POA </th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.poa.anio}} </td>
              </ng-container>
              <ng-container matColumnDef="Fuente11">
                <th style="min-width: 70px; text-align: center;" mat-header-cell *matHeaderCellDef> Fuente 11 </th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.poa.fuente11}} </td>
              </ng-container>
              <ng-container matColumnDef="Fuente12">
                <th style="min-width: 70px; text-align: center;" mat-header-cell *matHeaderCellDef> Fuente 12 </th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.poa.fuente12}} </td>
              </ng-container>
              <ng-container matColumnDef="Fuente12B">
                <th style="min-width: 70px; text-align: center;" mat-header-cell *matHeaderCellDef> Fuente 12B </th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.poa.fuente12B}} </td>
              </ng-container>
              <ng-container matColumnDef="Nombre_Actividad">
                <th style="min-width: 270px; text-align: center;" mat-header-cell *matHeaderCellDef> Nombre de la Actividad </th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade.nombre}} </td>
              </ng-container>
              <!-- <ng-container matColumnDef="Descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripcion de la Actividad </th>
                <td mat-cell *matCellDef="let element"> {{element?.actividade.descripcion}}</td>
              </ng-container> -->
              <ng-container matColumnDef="Estado">
                <th style="min-width: 130px; text-align: center;" mat-header-cell *matHeaderCellDef> Estado de la Actividad </th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade.estado}} </td>
              </ng-container>
              <ng-container matColumnDef="Tipo_Actividad">
                <th style="min-width: 130px; text-align: center;" mat-header-cell *matHeaderCellDef> Tipo de Actividad </th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade.tipoActividad}} </td>
              </ng-container>
              <ng-container matColumnDef="Categoria_Actividad">
                <th style="min-width: 140px; text-align: center;" mat-header-cell *matHeaderCellDef > Categoria de la Actividad</th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade.categoria}} </td>
              </ng-container>
              <ng-container matColumnDef="indicador">
                <th style="min-width: 270px; text-align: center;" mat-header-cell *matHeaderCellDef >Indicador</th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade?.indicadoresPoas[0].nombre}} </td>
              </ng-container>
              <ng-container matColumnDef="cantidad_Planificada">
                <th style="min-width: 75px; text-align: center;" mat-header-cell *matHeaderCellDef >Cantidad Planificada</th>
                <td style="padding: 10px; text-align: center;" mat-cell *matCellDef="let element"> {{element?.actividade?.indicadoresPoas[0].cantidadPlanificada}} 
                <ng-container *ngIf="element?.actividade?.indicadoresPoas[0].isPorcentaje==true; else nopresupuesto ">%</ng-container>
                <ng-template #nopresupuesto></ng-template></td>
              </ng-container>
              <ng-container matColumnDef="cantidad_Ejecutada">
                <th style="min-width: 75px; text-align: center;" mat-header-cell *matHeaderCellDef >Cantidad Ejecutada</th>
                <td style="padding: 10px; text-align: center;" mat-cell *matCellDef="let element"> {{element?.actividade?.indicadoresPoas[0].cantidadEjecutada}} 
                <ng-container *ngIf="element?.actividade?.indicadoresPoas[0].isPorcentaje==true; else nopresupuesto ">%</ng-container>
                <ng-template #nopresupuesto></ng-template></td>
              </ng-container>
              <ng-container matColumnDef="promedio_Alcanzado" >
                <th style="min-width: 75px; text-align: center;" mat-header-cell *matHeaderCellDef >Promedio Alcanzado</th>
                <td style="padding: 10px; text-align: center;" mat-cell *matCellDef="let element"> {{element?.actividade?.indicadoresPoas[0].promedioAlcanzado | percent}} </td>
              </ng-container>

              <ng-container matColumnDef="Nombre_Tarea">
                <th style="min-width: 250px; text-align: center;" mat-header-cell *matHeaderCellDef > Tarea</th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.nombre}}</td>
              </ng-container>
              <ng-container matColumnDef="Cantidad">
                <th style="min-width: 70px; text-align: center;" align="center" mat-header-cell *matHeaderCellDef >Cantidad</th>
                <td align="center" mat-cell *matCellDef="let element"> {{element?.presupuesto?.cantidad||0}} </td>
              </ng-container>
              <ng-container matColumnDef="costo">
                <th style="min-width: 100px; text-align: center;" align="center" mat-header-cell *matHeaderCellDef >Costo</th>
                <td align="center" mat-cell *matCellDef="let element"> {{element?.presupuesto?.costounitario||0| currency:'L.'}} </td>
              </ng-container>
              <ng-container matColumnDef="total" >
                <th style="min-width: 100px; text-align: center;" align="center" mat-header-cell *matHeaderCellDef >Total</th>
                <td align="center" mat-cell *matCellDef="let element"> {{element?.presupuesto?.total||0| currency:'L.'}} </td>
              </ng-container>
              <ng-container matColumnDef="fuente" >
                <th style="min-width: 60px; text-align: center;" mat-header-cell *matHeaderCellDef>Fuente</th>
                <td align="center" mat-cell *matCellDef="let element"> {{element?.presupuesto?.fuente?.identificador}} </td>
              </ng-container>
              <ng-container matColumnDef="grupo">
                <th style="min-width: 70px; text-align: center;" mat-header-cell *matHeaderCellDef >Grupo</th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.presupuesto?.grupogasto?.identificador}} </td>
              </ng-container>
              <ng-container matColumnDef="objeto">
                <th style="min-width: 70px; text-align: center;" mat-header-cell *matHeaderCellDef >Objeto</th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.presupuesto?.objetogasto?.identificador}} </td>
              </ng-container>
              <ng-container matColumnDef="Trimestre">
                <th style="min-width: 70px; text-align: center;" mat-header-cell *matHeaderCellDef >Trimestre</th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade?.planificacions[0]?.trimestre}} </td>
              </ng-container>
              <ng-container matColumnDef="CantidadP">
                <th style="min-width: 70px; text-align: center;" mat-header-cell *matHeaderCellDef >Cantidad</th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade?.planificacions[0]?.cantidad||0| currency:'L.'}} </td>
              </ng-container>
              <ng-container matColumnDef="Fecha_Inicio">
                <th style="min-width: 70px; text-align: center;" mat-header-cell *matHeaderCellDef >Fecha Inico</th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade?.planificacions[0]?.fechaInicio}} </td>
              </ng-container>
              <ng-container matColumnDef="Fecha_Final">
                <th style="min-width: 70px; text-align: center;" mat-header-cell *matHeaderCellDef >Fecha Final</th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade?.planificacions[0]?.fechaFin}} </td>
              </ng-container>
              <ng-container matColumnDef="Encargado">
                <th style="min-width: 70px; text-align: center; padding: 10px;" mat-header-cell *matHeaderCellDef >Encargado</th>
                <td style="padding: 10px;" mat-cell *matCellDef="let element"> {{element?.actividade?.ACencargados[0]?.empleado?.nombre}} </td>
              </ng-container>

            <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container> -->
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>>
          </table>
          
        </div>
       
    </div>
    </div>
    <br>
      </div>


</div>
<br>
</div>


