<app-back-button [path]="['admin/unidad_ejecutora/1']"></app-back-button>
<top-bar></top-bar>
<div class="mt-5 pt-5 contenedor">
    <div>
        <nz-breadcrumb>
            <nz-breadcrumb-item>
              <a [routerLink]="['../../home']">inicio</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a [routerLink]="['../../instituciones']">Instituciones</a>
              </nz-breadcrumb-item>
              <nz-breadcrumb-item>
                <a [routerLink]="['../../unidad_ejecutora/1']">Unidades Ejecutoras</a>
              </nz-breadcrumb-item>
            <nz-breadcrumb-item>Departamentos</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div class="barra">
        <span class="text-center text-dark fs-5">Gestión de Departamentos</span> <br>
        <div id="busqueda" class="">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar por nombre" aria-label="Buscar"
                    aria-describedby="btnGroupAddon"  name="filter" [(ngModel)]="filter">
                <div class="input-group-text" id="btnGroupAddon">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <main class="userList text-center pt-2 border rounded ">
        <!-- --------------------------- -->

        <!-- -------------------------------------- -->
        <div class="tabla">
            <nz-table [nzData]="deptoFromDb" nzSize="small">
                <thead class="text-center">
                    <tr>
                        <th class="table-secondary" scope="col">#</th>
                        <th class="table-secondary" scope="col">Nombre</th>
                        <th class="table-secondary" scope="col">Descripción</th>
                        <th class="table-secondary" scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody class="tableBody">
                    <tr class="fila" *ngFor="let x of deptoFromDb|deptoFilter:filter; index as i">
                        <td>{{i + 1}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.descripcion}}</td>
                        <td>
                            <button nz-button nzType="primary" (click)="setUpdate(x)">
                              Gestionar Deptos
                            </button>
                            <button nz-button nzType="text" (click)="setUpdate(x)">
                                <span nz-icon nzType="edit" nzTheme="outline"></span>Editar
                            </button>
                            <button nz-button nzType="primary" nzDanger class="text-white" data-bs-toggle="modal" data-bs-target="#eliminarInst" (click)="setDelete(x.id)">
                                <span nz-icon nzType="delete" nzTheme="outline"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
        
    </main>
    <section class="createUser border rounded">
        <nz-tabset nzType="card" nzCentered>
            <nz-tab  [nzTitle]="'Crear Unidad Ejecutora'"*ngIf="!editMode">
                <form nz-form #UserCreate='ngForm' 
                (ngSubmit)="crearDepto(UserCreate.value.nombre,UserCreate.value.descripcion)"
                    id="createDimension"
                    class="px-2">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="6" nzFor="nombre">Nombre</nz-form-label>
                      <nz-form-control [nzSpan]="12">
                        <input nz-input name="nombre" type="text" id="nombre" ngModel required minlength="4">
                      </nz-form-control>
                    </nz-form-item >
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="descripcion">Descripción</nz-form-label>
                        <nz-form-control [nzSpan]="12">
                          <input nz-input name="descripcion" type="text" id="descripcion" ngModel required minlength="4">
                        </nz-form-control>
                      </nz-form-item >
                      <nz-form-item nz-row class="register-area">
                        <nz-form-control [nzSpan]="14" [nzOffset]="10">
                          <button nz-button nzType="primary" type="submit" [disabled]="UserCreate.invalid">Crear</button>
                        </nz-form-control>
                      </nz-form-item>
                  </form>
            </nz-tab>
            <nz-tab  [nzTitle]="'Editar Unidad Ejecutora'" *ngIf="editMode">
                <form nz-form #UserCreate='ngForm' 
                (ngSubmit)="updateDepto(UserCreate.value.nombre,UserCreate.value.descripcion)"
                    id="createDimension"
                    class="px-2">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="6" nzFor="username">Nombre</nz-form-label>
                      <nz-form-control [nzSpan]="12">
                        <input nz-input name="nombre" type="text" id="nombre" ngModel required minlength="4" [(ngModel)]="deptoToUpdate.name">
                      </nz-form-control>
                    </nz-form-item >
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6" nzFor="descripcion">Descripción</nz-form-label>
                        <nz-form-control [nzSpan]="12">
                          <input nz-input name="descripcion" type="text" id="descripcion" ngModel required minlength="4" [(ngModel)]="deptoToUpdate.descripcion">
                        </nz-form-control>
                      </nz-form-item >


                      <nz-form-item nz-row class="register-area">
                        <nz-form-control [nzSpan]="14" [nzOffset]="10">
                          <button nz-button nzType="primary" type="submit" [disabled]="UserCreate.invalid">Actualizar</button>
                        </nz-form-control>
                      </nz-form-item>
                  </form>
            </nz-tab>
        </nz-tabset>

    </section>
</div>
<!-- Este modal sirve para eliminar un usuario -->
<div class="modal" tabindex="-1" id="eliminarInst">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title fs-3 m-auto"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Está seguro de eliminarlo? </p>
            </div>
            <form id="eliminarDimension">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger" (click)="Delete()">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
    </div>