.actividades_container{
    height: 100px;
    background-color: rgb(224, 225, 225);
}
.gestion_container{
    width: 150px;
    height: 100px;
    /*background-color: rgb(4, 70, 124);*/

}
.mis_poas{
    width: 300px;
    height: 100px;
    /*background-color: rgb(4, 70, 124);*/

}

.noticias_container{
    height: 100px;
    background-color: rgb(224, 225, 225);
}