.abs-center {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 250px;
}

.alinear{
margin-left: 250px;
width: 1000px;
}
.backButton{
position: fixed;
left: 20px;
top: 80px;
}
