<top-bar></top-bar>
<app-back-button [path]="['/gestion_pei/resultados/list/',this.idArea,idObjetivo,idDimension,idPei,idInsti]"></app-back-button>
<body class="justify-content-center abs-center mt-5 pt-5">
<div class="col-8">
  <br>
<div class="container  rounded border " style="background-color: white;">
  
    <!-- espacio para el titulo-->
    <div class="w-100 row m-auto">
      <div class="row text-center">
        <h1> </h1>
        <h2 class="l-4">Detalles del Resultado</h2>
        <span class="fs4">
          Para el Area: <span class="text-primary">{{area.nombre}}</span> <br>
          </span>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-end" *ngIf="resultado">
        <button type="submit" class="btn btn-warning" (click)="toUpdate()">Editar</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarInst" (click)="set_id_delete(resultado.id)" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
          </svg>
      </button>
      </div>
    </div>
  
    

    <form class='row g-3 justify-content-center'>
      
      <div class="col-10" >
        <label for="inputNombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="inputNombre" value="{{resultado.nombre}}" disabled>
      </div>
  
      <div class="col-10 mb-3">
        <label for="inputDescripcion" class="form-label">Descripción:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" value="{{resultado.descripcion}}" disabled></textarea>
      </div>

      <div class="col-md-5">
        <label for="inputArea" class="form-label">Área:</label>
        <input type="text" class="form-control" id="inputArea" value="{{area.nombre}}" disabled>
      </div>
      <div class="col-md-5">
        <label for="inputObjetivo" class="form-label">Objetivo:</label>
        <input type="text" class="form-control" id="inputObjetivo" value="{{objetivo.nombre}}" disabled>
      </div>
      <div class="col-md-5">
        <label for="inputDimension" class="form-label">Dimensión:</label>
        <input type="text" class="form-control" id="inputDimension" value="{{dimension.nombre}}" disabled>
      </div>
      <div class="col-md-5">
        <label for="inputPEI" class="form-label">PEI:</label>
        <input type="text" class="form-control" id="inputPEI" value="{{pei.name}}" disabled>
      </div>
      
   
      <div class="d-grid gap-2 d-md-flex justify-content-between">
        <button type="button" class="btn btn-secondary" (click)="toList()" >Regresar</button>
  
        
    </div>
    <br>


    </form>
    
    <br>
    </div>
    </div>
      <!-- Este modal sirve para eliminar un Objetivo -->

<div class="modal" tabindex="-1" id="eliminarInst">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title fs-3 m-auto"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Está seguro de eliminar el objetivo? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="delete()" data-bs-dismiss="modal" >Eliminar</button>
      </div>
    </div>
  </div>
</div> 
</body>
