<header class="p-3 text-bg-primary bg-gradient fixed-top">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="../../../assets/POA logo provisional.png" class="logo">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">Inicio</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Proyectos</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Gestiones</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Control</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Contacto</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control text-bg-white fs-8" placeholder="Buscar..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2 fs-8">Mi Cuenta</button>
          <button type="button" class="btn btn-warning fs-8">Cerrar Sesión</button>
        </div>
      </div>
      <div class="franja"></div>
    </div>
  </header>
