<top-bar></top-bar>
<app-back-button
  [path]="['/gestion_poa/planificacion/tab/', this.idPoa, this.idActividad, this.idInsti, this.idDepto,]">
</app-back-button>
<div class="alinear justify-content-center   pt-5 mt-5 ">

  <div>
    <div class="col-9 border p-4">
      <div class="text-black text-center">
        <h3 class=" fs-5 text-center m-auto" id="exampleModalLabel">Crear Planificación</h3>
        <div class="row justify-content-center text-center m-2 fs-5">
          <span>POA: <a (click)="toPoa()" class="text-decoration-none">{{poa.name}}</a> - Institución: <a
              class="text-decoration-none">{{insti.nombre}}</a> <br>
            <span class="-b-text-undexpanded"> Departamento: <a class="text-decoration-none">{{depto.name}}</a></span>
            <br>
            <span class="-b-text-undexpanded"> Actividad: <a class="text-decoration-none">{{act.nombre}}</a></span>

            <br>
          </span>
        </div>
      </div>
      <div>
        <form #Planificacion='ngForm'
          (ngSubmit)="crear_Planificacion(Planificacion.value.trimestre, Planificacion.value.cantidad, Planificacion.value.fechaInicio, Planificacion.value.fechaFin)"
          id="createDimension">
          <div class="col">
            <!-- Campo para el trimestre de la planificación -->
            <div class="mb-3 mx-2 px-2 row">
              <label for="trimestre" class="row col-form-label">Trimestre:</label>

              <select class="form-control" aria-label="Default select example" name="trimestre" ngModel required>
                <option value="Primer Trimestre">Primer Trimestre</option>
                <option value="Segundo Trimestre">Segundo Trimestre</option>
                <option value="Tercer Trimestre">Tercer Trimestre</option>
                <option value="Cuarto Trimestre">Cuarto Trimestre</option>


              </select>
            </div>

            <!-- Campo para la cantidad de la planificación -->
            <div class="mb-3 mx-2 px-2 row">
              <label for="cantidad" class="row col-form-label">Cantidad:</label>
              <div class="row">
                <input type="number" class="form-control" name="cantidad" min="0" id="cantidad" ngModel required>
              </div>
            </div>

            <!-- Campo para la fecha de inicio de la planificacion -->
            <div class="mb-3 mx-2 px-2 row">
              <label for="fechaInicio" class="row col-form-label">Fecha Inicial:</label>
              <div class="row">
                <input type="date" class="form-control" name="fechaInicio" id="fechaInicio" ngModel required>
              </div>
            </div>

            <!-- Campo para la fecha de inicio de la planificacion -->
            <div class="mb-3 mx-2 px-2 row">
              <label for="fechaFin" class="row col-form-label">Fecha Final:</label>
              <div class="row">
                <input type="date" class="form-control" name="fechaFin" id="fechaFin" ngModel required>
              </div>
            </div>

          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="toList()">Regresar</button>
            <button type="submit" class="btn btn-warning m-2" [disabled]="Planificacion.invalid">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
