<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * 





<!-- Crear la interfaz de  cambiar contraseña -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="app.component.css">
  <title>Formulario Registro</title>
</head>
<body>
  <section class="form-register">
    <h4>Cambiar contraseña</h4> 
    <input class="controls" type="password" name="nombres" id="nombres" placeholder="Ingrese su contraseña anterior">
    <input class="controls" type="password" name="apellidos" id="apellidos" placeholder="Ingrese su nueva contraseña">
    <input class="controls" type="password" name="correo" id="correo" placeholder="Confirme su contraseña">
    <input class="botons" type="submit" value="Guardar" routerLink="/guardar">
  </section>



  
  <router-outlet>Guardar  </router-outlet><
