html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.posicion_contenido{
    margin-top: 2rem;
    margin-left: 2rem;
    width: 100%;
    min-width: 100%;
}
.container{
    width: 100%;
    min-width: 100%;
}
