<body style="background-color: #c5cae9;">
  <div class="col-12 ">
      <br>
      <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
      <div class="container" style="background-color: white;">
      <div class="w-100 row m-auto">
      <br>
      <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
      <div class="w-100 row m-auto">
          
          <div class="row text-center">
              <h2 class="l-4" ><font color='black'>Detalles de los objetivos</font></h2>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-end">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarInst" (click)="set_id_delete(objetivo?.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
              </svg>
          </button>
          </div>
      </div>
  
      <form class="row g-3 justify-content-center">
          <div class="col-10">
              <label for="inputNombre" class="form-label">Nombre:</label>
              <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="2" value="{{objetivo?.nombre}}" disabled>
              </textarea>
              </div>
            <div class="col-10 mb-3">
              <label for="inputDescripcion" class="form-label">Descripción:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" value="{{objetivo?.descripcion}}" disabled></textarea>
            </div>
           
          
          <div class="col-md-5">
              <label for="inputDimension" class="form-label">Dimensión:</label>
              <input type="text" class="form-control" id="inputDimension" value="{{objetivo?.dimension?.nombre}}"disabled>
            </div>
            <div class="col-md-5">
              <label for="inputPEI" class="form-label">PEI:</label>
              <input type="text" class="form-control" id="inputPEI" value="{{objetivo?.pei?.name}}"disabled>
            </div>
        
              <div class="d-grid gap-2 d-md-flex justify-content-end">
                  <button type="button" class="btn btn-secondary" (click)='onBack()'>Cerrar</button>
                  <!-- [disabled]="Result.invalid" -->
                  <button type="submit" class="btn btn-warning" >Editar</button>
              </div>
      
          
        </form>
      </div>
    </div>

    <!-- Este modal sirve para eliminar un Objetivo -->

<div class="modal" tabindex="-1" id="eliminarInst">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title fs-3 m-auto"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Está seguro de eliminar el objetivo? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="delete()" data-bs-dismiss="modal" >Eliminar</button>
      </div>
    </div>
  </div>
</div>  
      
  