<body style="background-color: #c5cae9;">
  <div class="col-12 ">
      <br>
      <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
      <div class="container" style="background-color: white;">
      <div class="w-100 row m-auto">
      <br>
      <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
      <div class="w-100 row m-auto">

          <div class="row text-center">
              <h2 class="l-4" ><font color='black'>Detalles de PEI</font></h2>
          </div>
          <tr *ngFor="let x of peis ; index as i ">

          <div class="d-grid gap-2 d-md-flex justify-content-end">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarPEI" (click)="set_id_delete(x.name)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
              </svg>
          </button>
          </div>

        <div class="col-10">
          <label for="name" class="row col-form-label">Nombre PEI:</label>
          <div class="row">
            <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="2" value="{{x.name}}" disabled>
          </div>
        </div>

        <div class="col-10">
          <label for="initialYear" class="row col-form-label">Año Inicial:</label>
          <div class="row">
            <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="2" value="{{x.initialYear}}" disabled>
          </div>
        </div>


        <div class="col-10">
          <label for="finalYear" class="row col-form-label">Año Final:</label>
          <div class="row">
            <input type="text" class="form-control" id="exampleFormControlTextarea1" rows="2" value="{{x.finalYear}}" disabled >
          </div>
        </div>
          <div class="d-grid gap-2 d-md-flex justify-content-end">
            <button type="button" class="btn btn-secondary" [routerLink]="['/gestion_pei/pei/list/idInsti']">Regresar</button>

            <!-- [disabled]="Result.invalid" -->
            <button type="submit" class="btn btn-warning" >Editar</button>
        </div>
        </tr>
      </div>


        <tr *ngFor="let x of peis ; index as i ">






      <form class="row g-3 justify-content-center">
          <div class="col-10">
              <label for="name" class="form-label">Nombre PEI:</label>
              <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="2" value="{{x.name}}" disabled>
              </textarea>
              </div>
            <div class="col-10 mb-3">
              <label for="initialYear" class="form-label">Año Inicial:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" value="{{x.initialYear}}" disabled></textarea>
            </div>


            <div class="col-10 mb-3">
              <label for="finalYear" class="form-label">Año Final:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" value="{{x.finalYear}}" disabled></textarea>
            </div>


              <div class="d-grid gap-2 d-md-flex justify-content-end">
                  <button type="button" class="btn btn-secondary" [routerLink]="['/gestion_pei/pei/list/idInsti']">Gestionar</button>

                  <!-- [disabled]="Result.invalid" -->
                  <button type="submit" class="btn btn-warning" >Editar</button>
              </div>


        </form>
      </tr>
      </div>
    </div>

    <!-- Este modal sirve para eliminar un PEI -->

    <div class="modal" tabindex="-1" id="eliminarPEI">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header bg-danger">
                  <h5 class="modal-title fs-3 m-auto"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <p>¿Está seguro de eliminar el PEI? </p>
              </div>
              <form>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn btn-danger" (click)="delete()" data-bs-dismiss="modal">Eliminar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
