<top-bar></top-bar>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body class="justify-content-center abs-center mt-5 pt-5" style="background-color: #EFF0FD;">
   
    <div class="col-12">
        <br>
       
        <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
        <div class="container shadow rounded border border-dark" style="background-color: white;">
            <div class="w-100 row m-auto">
                <br>
                <div class="row text-center">
                    <h1> </h1>
                    <h2 class="l-4">Crear Indicador</h2>
                </div>
            </div>

            <form #Indicador="ngForm" (ngSubmit)="crear_Indicador(Indicador.value.nombre,Indicador.value.descripcion)" 
            id="Create_Resultado">
                <div class="container">
                    <!-- Campo para el nombre del resultado -->
                    <div class="mb-3 mx-2 px-2 row">
                        <label for="nombre" class="row col-form-label">Nombre del Indicador:</label>
                        <div class="row">
                            <textarea type="text" class="form-control" name="nombre" ngModel required>
                            </textarea>
                        </div>
                    </div>
                    <!-- Campo para la descripción del resultado -->
                    <div class="mb-3 mx-2 px-2 row">
                        <label for="inputDescripcion" class="row col-form-label">Descripción:</label>
                        <div class="row">
                        <textarea type="text" class="form-control" name="descripcion" ngModel required>
                        </textarea>
                    </div>
                      </div>
                    <!-- Campo para el área -->
                    <!-- <div class="col-md-6 mb-3 mx-2 px-2 row">
                        <label for="idArea" class="row col-form-label">Área:</label>
                        <select class="form-select w-75" aria-label="Default select example" name="idArea"
                        [(ngModel)]="area_seleccionada" required>
                            <option selected>Seleccione...</option>
                            <ng-container *ngFor="let x of areaList">
                                <option value="{{x.id}}">{{x.nombre}}</option>
                            </ng-container>
                        </select>
                    </div> -->
                </div>
                <div class="container">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-secondary" (click)='onBack()'>Cancelar</button>
                        <!-- [disabled]="Result.invalid" -->
                        <button type="submit" class="btn btn-warning" [disabled]="Indicador.invalid">Guardar</button>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
</body>