
<div class="container">
  <div class="row">
    <top-bar></top-bar>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <title>Bootstrap Example</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body>
  
  <div class="container-xl mt-5 pt-4">

    <div class="grid text-center">
      <div class="g-col-4 bg-white rounded border border-dark">
        <br>
        <div class="row align-items-center">
         
          <div class="col fw-bold h4">Dimensión</div>
        </div>
        <div class="w-75 row m-auto ">
          <div class="col-xl-10">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
                      aria-describedby="btnGroupAddon" name="filter">
                  <div class="input-group-text" id="btnGroupAddon">
                     
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                              class="bi bi-search" viewBox="0 0 16 16">
                              <path
                                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                          </svg>
                    
                  </div>
              </div>
          </div>

          <div class="col-xl-2">
              <button type="button" class="btn btn-warning" data-bs-toggle="modal"
              data-bs-target="#createInst">
                  <span>
                      Crear
                  </span>
              </button>
          </div>
      </div>
      <br>
      <div class="w-75 row m-auto mb-2">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

      </div>
    
      <div class="w-75 row m-auto mb-2">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  
  <!-- End Example Code -->
</body>
  </div>
</div>
