<top-bar></top-bar>
<div class="container  justify-content-center pt-5 mt-5">
    <div>
        <div class="col-9">
            <div class="text-black text-center">
                <h5 class=" fs-5 text-center m-auto" id="exampleModalLabel">Crear nuevo PEI</h5>
            </div>
            <div>
                <form #Pei='ngForm'
                    (ngSubmit)="crear_pei(Pei.value.name,Pei.value.initialYear,Pei.value.finalYear)"
                    id="createDimension">
                    <div class="col">
                        <!-- Campo para el nombre de PEI -->
                        <div class="mb-3 mx-2 px-2 row">
                            <label for="name" class="row col-form-label">Nombre de PEI:</label>
                            <div class="row">
                                <input type="text" class="form-control" name="name" ngModel required>
                            </div>
                        </div>
                        <!-- Campo para la Año Inicial -->
                        <div class="mb-3 mx-2 px-2 row">
                            <label for="initialYear" class="row col-form-label">Año Inicial:</label>
                            <div class="row">
                                <input type="Date" class="form-control" name="initialYear" ngModel required>
                            </div>
                        </div>
                        <!-- Campo para la Final Inicial -->
                        <div class="mb-3 mx-2 px-2 row">
                            <label for="finalYear" class="row col-form-label">Año Final:</label>
                            <div class="row">
                                <input type="Date" class="form-control" name="finalYear" ngModel required>
                            </div>
                        </div>
                        
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="toList()">Regresar</button>
                        <button type="submit" class="btn btn-warning m-2" [disabled]="Pei.invalid">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>