<top-bar></top-bar>
<app-back-button [path]="['/gestion_poa/poa/list/',this.idInsti,this.idUE,this.idDepto]"></app-back-button>


<body class="justify-content-center mt-5 pt-5">

    <!-- Pantalla principal del modulo -->
    <div class="container d-flex align-items-center justify-content-center ">
        <!-- columna completa que agrupa todos los row -->
        <div class="col-12 ">
            <br>
            <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
            <div class="container  rounded border border-dark" style="background-color: white;">
                <div class="w-100 row m-auto">
                    <div class="row text-center">
                        <h2></h2>
                        <h2 class="l-4">Gestión de Actividad</h2>
                    </div>
         
                    <div class="row text-center m-2 fs-6 ">
                        <span >POA: <a   (click)="toPoa()" class="text-decoration-none">{{poa.name}}</a>  - Institución: <a class="text-decoration-none">{{insti.nombre}}</a> <br>
                            <span class="-b-text-undexpanded"> Departamento: <a  class="text-decoration-none">{{depto.name}}</a></span>

                            <br>
                        </span>
                        
                    </div>

      
                    <div class="w-75 row m-auto mb-2">
                        <div class="row">
                            <label for="id" class="row col-form-label">Seleccione un POA:</label>
                            <select class="form-control" aria-label="Default select example" name="id"
                                [(ngModel)]="poaSeleccionado" (ngModelChange)="selectPoa()" required>
                                <ng-container *ngFor="let x of poaList">
                                    <option value="{{x.id}}" [selected]="x.id===idPoa">{{x.name}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    
                    <div class="w-75 row m-auto mb-2">
                   
                        <div><br></div>

                        <div class="col-8">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar por nombre"
                                    aria-label="Buscar" aria-describedby="btnGroupAddon" [(ngModel)]="filter"
                                    name="filter">
                                <div class="input-group-text" id="btnGroupAddon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-warning" (click)="toCreate()">
                                <i class="bi bi-plus-square"></i>
                                <span>
                                    Crear Actividad
                                </span>
                            </button>
                        </div>
                    </div>
                </div>










                <!-- tabla dinamica que muestra todas las actividades -->
                <div>
                   
                        <div class="row row-cols-1 row-cols-md-4 g-4">
                            <ng-container *ngFor="let x of actividades| ActividadFilter:filter|actividadPaginacion:step:page; index as i">
                            <li *ngIf="x.estado ==='FORMULACION'">
                                    <div class="card  text-bg-secondary mb-3" style="width: 18rem;">
                                         <!-- este contador no es id, solo es para enumerar -->
                                    <ng-container *ngIf="page > 0; else elseNumeracion">
                                        {{i + page + 1}}
                                    </ng-container>
                                    <ng-template #elseNumeracion>
                                        {{i + 1}}
                                    </ng-template>
                                        <div class="card-body">
                                            <h1 class="text-center">Actividad {{i + 1}} </h1>
                                            <h1 class="card-title">{{x.nombre}}</h1>

                                            <h1 class="card-title">{{x.estado}}</h1>
                                            <button type="button" class="btn btn-warning float-center"
                                                (click)="toDetail(x.id)">Gestionar</button>
                                        </div>
                                    </div>
                            </li>
                            <li *ngIf="x.estado ==='RECHAZADO'">
                                <div class="card  text-bg-danger mb-3" style="width: 18rem;">
                                     <!-- este contador no es id, solo es para enumerar -->
                                     <ng-container *ngIf="page > 0; else elseNumeracion">
                                        {{i + page + 1}}
                                    </ng-container>
                                    <ng-template #elseNumeracion>
                                        {{i + 1}}
                                    </ng-template>
                                    <div class="card-body">
                                        <h1 class="text-center">Actividad {{i + 1}} </h1>
                                        <h1 class="card-title">{{x.nombre}}</h1>
                                        <h1 class="card-title">{{x.estado}}</h1>
                                        <button type="button" class="btn btn-warning float-center"
                                            (click)="toDetail(x.id)">Gestionar</button>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="x.estado ==='REFORMULACION'">
                                <div class="card  text-bg-primary mb-3" style="width: 18rem;">
                                     <!-- este contador no es id, solo es para enumerar -->
                                     <ng-container *ngIf="page > 0; else elseNumeracion">
                                        {{i + page + 1}}
                                    </ng-container>
                                    <ng-template #elseNumeracion>
                                        {{i + 1}}
                                    </ng-template>
                                    <div class="card-body">
                                        <h1 class="text-center">Actividad {{i + 1}} </h1>
                                        <h1 class="card-title">{{x.nombre}}</h1>
                                        <h1 class="card-title">{{x.estado}}</h1>
                                        <button type="button" class="btn btn-warning float-center"
                                            (click)="toDetail(x.id)">Gestionar</button>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="x.estado ==='REVISION'">
                                <div class="card  text-bg-warning mb-3" style="width: 18rem;">
                                     <!-- este contador no es id, solo es para enumerar -->
                                     <ng-container *ngIf="page > 0; else elseNumeracion">
                                        {{i + page + 1}}
                                    </ng-container>
                                    <ng-template #elseNumeracion>
                                        {{i + 1}}
                                    </ng-template>
                                    <div class="card-body">
                                        <h1 class="text-center">Actividad {{i + 1}} </h1>
                                        <h1 class="card-title">{{x.nombre}}</h1>
                                        <h1 class="card-title">{{x.estado}}</h1>
                                        <button type="button" class="btn btn-success float-center"
                                            (click)="toDetail(x.id)">Gestionar</button>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="x.estado ==='APROBADO'">
                                <div class="card  text-bg-success mb-3" style="width: 18rem;">
                                     <!-- este contador no es id, solo es para enumerar -->
                                     <ng-container *ngIf="page > 0; else elseNumeracion">
                                        {{i + page + 1}}
                                    </ng-container>
                                    <ng-template #elseNumeracion>
                                        {{i + 1}}
                                    </ng-template>
                                    <div class="card-body">
                                        <h1 class="text-center">Actividad {{i + 1}} </h1>
                                        <h1 class="card-title">{{x.nombre}}</h1>
                                        <h1 class="card-title">{{x.estado}}</h1>
                                        <button type="button" class="btn btn-warning float-center"
                                            (click)="toDetail(x.id)">Gestionar</button>
                                    </div>
                                </div>
                            </li>

              


                        </ng-container>
                        </div>
                </div>


                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <ng-container>
                            <li class="page-item" [ngClass]="page === 1 ? 'disable':''"><a class="page-link "
                                    (click)="previousPage()">Anterior</a></li>
                        </ng-container>
                        <ng-container *ngFor="let x of enumPages">
                            <li class="page-item" [ngClass]="(page/step)+1 === x ? 'active':''"><a class="page-link"
                                    (click)="selectPage(x-1)">{{x}}</a></li>
                        </ng-container>
                        <ng-container *ngIf="(page <= maxPages + 1)">
                            <li class="page-item"><a class="page-link " (click)="nextPage()">Siguiente</a></li>
                        </ng-container>
                    </ul>
                </nav>
            </div>
        </div>
    </div>