<top-bar></top-bar>
<app-back-button [path]="['/gestion_poa/poa/list/',this.idInsti,this.idUE,this.idDepto]"></app-back-button>
<div class="justify-content-center abs-center mt-5 pt-5 abs-center">

    <div class="col-7">
        <div><br></div>
        <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
        <div class="container border rounded rounden-2 p-2 border-dark" style="box-shadow: 2px 2px 5px #999;">
            <div class="w-100 row m-auto">
                <br>
                <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
                <div class="w-100 row m-auto">
                    <div class="row">
                        <div class="row text-center m-2 fs-6 ">
                            <span class="fs-5">
                                <span class="-b-text-undexpanded"> Departamento: <a
                                        class="text-primary">{{departamento.name}}</a></span>
                            </span>
                        </div>
                        <div class="col-10 text-center">
                            <h2 class="">
                                <p>
                                    <font color='black'>Crear POA</font>
                                </p>
                            </h2>

                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-center">
                            <form #Poa='ngForm'
                                (ngSubmit)="crear_poa(Poa.value.name,Poa.value.anio,Poa.value.fuente11, Poa.value.fuente12, Poa.value.fuente12B)"
                                id="createPOA">
                                <div class="w-100 row m-auto">
                                    <!-- Campo para el nombre de POA -->
                                    <div class="col-10">
                                        <label for="name" class="row col-form-label">Nombre de POA:</label>
                                        <div class="row">
                                            <input type="text" class="form-control" name="name" ngModel required>
                                        </div>
                                    </div>
                                    <!-- Campo para la Año Inicial -->
                                    <div class="col-10 mb-3">
                                        <label for="anio" class="row col-form-label">Año:</label>
                                        <div class="row">
                                            <input type="Date" min="2017-01-01" class="form-control" name="anio" ngModel required>
                                        </div>
                                    </div>
                                    <div class="col-10 mb-3">
                                        <label for="fuente11" class="row col-form-label">Fuente 11:</label>
                                        <div class="row">
                                            <input type="number" class="form-control" name="fuente11" ondrop="return false;" onpaste="return false;" onkeypress="return event.charCode>=48 && event.charCode<=57"  min="0" max="" 
                                                ngModel required>
                                            <ng-container *ngIf="Poa.value.fuente11 < 0">
                                                <span class="alert alert-danger">Revisa el valor ingresado
                                                </span>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="col-10 mb-3">
                                        <label for="fuente12" class="row col-form-label">Fuente 12:</label>
                                        <div class="row">
                                            <input type="number" class="form-control" name="fuente12" ondrop="return false;" onpaste="return false;" onkeypress="return event.charCode>=48 && event.charCode<=57" min="0" max=""
                                                ngModel required>
                                            <ng-container *ngIf="Poa.value.fuente12 < 0">
                                                <span class="alert alert-danger">Revisa el valor ingresado
                                                </span>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="col-10 mb-3">
                                        <label for="fuente12B" class="row col-form-label">Fuente 12B:</label>
                                        <div class="row">
                                            <input type="number" class="form-control" name="fuente12B" ondrop="return false;" onpaste="return false;" onkeypress="return event.charCode>=48 && event.charCode<=57"  min="0" max=""
                                                ngModel required>
                                            <ng-container *ngIf="Poa.value.fuente12B < 0">
                                                <span class="alert alert-danger">Revisa el valor ingresado
                                                </span>
                                            </ng-container>
                                        </div>
                                    </div>

                                </div>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" (click)="toList()">Regresar</button>
                                    <button type="submit" class="btn btn-warning m-2"
                                        [disabled]="Poa.invalid">Guardar</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>