<top-bar></top-bar>

<!-- <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet" />
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-bootstrap-toggle@0.4.2/dist/angular-bootstrap-toggle.min.css">
<script src="https://cdn.jsdelivr.net/npm/angular-bootstrap-toggle@0.4.2/dist/angular-bootstrap-toggle.min.js"></script>

</head> -->

<body class="justify-content-center abs-center mt-5 pt-5">
    <div class="col-12 w-75">
        <div class="container shadow rounded border border-dark" style="background-color: white;">
            <div class="w-100 row m-auto">
                <br>
                <div class="row text-center">


                    <h2 class="l-4">Detalles Tarea</h2>
                </div>
                <div class="row text-end">
                    <h1> </h1>
                    <h2 class="px-2"> Presupuesto
                        <ng-container *ngIf="tareas.isPresupuesto==true; else nopresupuesto ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="green"
                                class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                <circle cx="200" cy="70" r="50" fill="#79C99E" />
                            </svg>
                        </ng-container>
                        <ng-template #nopresupuesto>
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#BD1505"
                                class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                                <path
                                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z" />
                            </svg>

                        </ng-template>
                    </h2>
                </div>


            </div>




            <div class="example-container">
                <mat-form-field appearance="outline" class="example-form-textarea">
                    <mat-label>Nombre de la tarea</mat-label>
                    <textarea matInput name="nombre" [(ngModel)]="nombre"
                    value="{{tareas.nombre}}"> </textarea>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-form-textarea">
                    <mat-label>Descripcion</mat-label>
                    <textarea matInput type="text" name="descripcion" [(ngModel)]="descripcion"
                        value="{{tareas.descripcion}}" NgModel required></textarea>
                </mat-form-field>
            </div>
            <div><br></div>

            <div><br></div>





            <ng-container *ngIf="tareas.isPresupuesto==false; else isPresupuestot">
                <!-- <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked" [disabled]="disabled"
                    [(ngModel)]="isPresupuesto" name="isPresupuesto">Presupuesto</mat-slide-toggle> -->

                    
                <!-- <ng-container name="isPresupuesto" *ngIf="isPresupuesto==true">
                    <div class="example-container">
                        <mat-form-field appearance="outline" class="example-form-input">
                            <mat-label>Cantidad</mat-label>
                            <input matInput type="number" class="example-right-align" name="cantidad"
                                [(ngModel)]='+cantidad' placeholder="Placeholder" NgModel required>
                        </mat-form-field>

                        <mat-form-field appearance="fill" floatLabel="always" class="example-form-input">
                            <mat-label>Costo Unitario</mat-label>
                            <input matInput type="number" class="example-right-align" name="costounitario"
                                [(ngModel)]='+costounitario' placeholder="0" ngModel required>
                            <span matPrefix>L.&nbsp;</span>
                            <span matSuffix>.00</span>
                        </mat-form-field>

                        <mat-form-field appearance="fill" floatLabel="always" class="example-form-input">
                            <mat-label>Total</mat-label>
                            <input matInput type="number" class="example-right-align" placeholder="0" type="text"
                                name="total" value="{{costounitario*cantidad|| 0|currency:'L.'}}" readonly>
                        </mat-form-field>
                    </div>
                    <div class="example-container">


                        <mat-form-field appearance="outline" floatLabel="always" class="example-form-inputt">
                            <mat-label>Objeto del gasto</mat-label>
                            <textarea matInput type="text" class="example-right-align" placeholder="0" name="total"
                                value=""
                                readonly>{{tareas?.presupuesto?.grupogasto?.identificador+' - '+tareas?.presupuesto?.grupogasto?.nombre}}</textarea>
                        </mat-form-field>
                        <mat-form-field appearance="outline" floatLabel="always" class="example-form-inputt">
                            <mat-label>Grupo del gasto</mat-label>
                            <textarea matInput type="text" class="example-right-align" placeholder="0" name="total"
                                value=""
                                readonly>{{tareas?.presupuesto?.objetogasto?.identificador+' - '+tareas?.presupuesto?.objetogasto?.nombre}}</textarea>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Unidad de Medida</mat-label>
                            <mat-select [(value)]="selected" name="idunidad" [(ngModel)]="unidadmedida_seleccionado"
                                NgModel required>
                                <mat-option value="1">Litros</mat-option>
                                <mat-option value="2">Kilogramos</mat-option>
                                <mat-option value="3">Gramos</mat-option>
                                <mat-option value="4">Unidad</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill">
                            <mat-label>Fuentes</mat-label>
                            <mat-select name="idfuente" [(ngModel)]="fuente_seleccionado" NgModel required>
                                <mat-option>-- None --</mat-option>
                                <mat-option value="1">Fuente 11</mat-option>
                                <mat-option value="2">Fuente 12</mat-option>
                                <mat-option value="3">Fuente 12B </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </ng-container> -->

            </ng-container>




            <div class="mb-3">
            </div>
      
            <ng-template #isPresupuestot>
                
            </ng-template>


            <ng-container *ngIf="tareas.isPresupuesto==true">
                <div class="example-container">
                    <!-- <mat-form-field appearance="outline" class="example-form-input">
                        <mat-label>Cantidad</mat-label>
                        <textarea matInput type="number" class="example-right-align" name="cantidad" value=""
                            placeholder="Placeholder" NgModel>{{tareas.presupuesto.cantidad}}</textarea>

                    </mat-form-field> -->
                    <mat-form-field appearance="fill" class="example-form-input" >
                        <mat-label>Cantidad</mat-label>
                        <input matInput type="number" class="example-right-align" name="cantidad"
                            [(ngModel)]="+tareas.presupuesto.cantidad" placeholder="" NgModel required>
                    </mat-form-field>


                    <mat-form-field appearance="fill" floatLabel="always" class="example-form-input">
                        <mat-label>Costo Unitario</mat-label>
                        <input matInput type="number" class="example-right-align" name="costounitario"
                            [(ngModel)]='+tareas.presupuesto.costounitario' placeholder="" ngModel required>
                        <span matPrefix>L.&nbsp;</span>
                        <span matSuffix>.00</span>
                    </mat-form-field>

                    <mat-form-field appearance="fill" floatLabel="always" class="example-form-input">
                        <mat-label>Total</mat-label>
                        <input matInput type="number" class="example-right-align" name="total" placeholder=""
                            type="text"
                            value="{{tareas.presupuesto.costounitario*tareas.presupuesto.cantidad|| 0|currency:'L.'}}"
                            readonly>
                    </mat-form-field>

                    <!-- <mat-form-field appearance="fill" floatLabel="always" class="example-form-input">
                        <mat-label>Total</mat-label>
                        <input matInput type="number" class="example-right-align" placeholder="0" type="text"
                            name="total"   [(ngModel)]='+tareas.presupuesto.total' value="{{tareas.presupuesto.costounitario*tareas.presupuesto.cantidad|| 0|currency:'L.'}}" readonly>
                    </mat-form-field> -->
                </div>





                <div class="example-container">
                    <mat-form-field appearance="outline" floatLabel="always" class="example-form-inputt">
                        <mat-label>Objeto del gasto</mat-label>
                        <textarea matInput type="text" class="example-right-align" placeholder="0" name="idobjeto"
                            value=""
                            readonly>{{tareas?.presupuesto?.grupogasto?.identificador+' - '+tareas?.presupuesto?.grupogasto?.nombre}}</textarea>
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always" class="example-form-inputt">
                        <mat-label>Grupo del gasto</mat-label>
                        <textarea matInput type="text" class="example-right-align" placeholder="0" name="total" value=""
                            readonly>{{tareas?.presupuesto?.objetogasto?.identificador+' - '+tareas?.presupuesto?.objetogasto?.nombre}}</textarea>
                    </mat-form-field>


                    <mat-form-field appearance="fill">
                        <mat-label>{{tareas?.presupuesto?.unidadmedida?.nombre}}</mat-label>
                        <mat-select name="idunidad" [(ngModel)]="idunidad" NgModel required>
                            <mat-option value="1">Litros</mat-option>
                            <mat-option value="2">Kilogramos</mat-option>
                            <mat-option value="3">Gramos</mat-option>
                            <mat-option value="4">Unidad</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>{{tareas?.presupuesto?.fuente?.identificador +' - '+ tareas?.presupuesto?.fuente?.nombre}}</mat-label>
                        <mat-select name="idfuente" [(ngModel)]="idfuente" NgModel>
                            <mat-option>-- None --</mat-option>
                            <mat-option value="1">Fuente 11</mat-option>
                            <mat-option value="2">Fuente 12</mat-option>
                            <mat-option value="3">Fuente 12B </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <!-- <mat-form-field appearance="fill">
                                            <mat-label>Grupo del gasto</mat-label>
                                            <select matNativeControl  NgModel required>
                                              <option value=""> {{tareass?.presupuesto?.grupogasto?.identificador+' - '+tareass?.presupuesto?.grupogasto?.nombre}}</option>
                                            </select>
                                          </mat-form-field>
                                           -->
                    <!-- <mat-form-field appearance="fill">
                                            <mat-label>Objeto del gasto</mat-label>
                                            <mat-select matNativeControl name="idobjeto" [(ngModel)]="objetogasto_seleccionado" NgModel required>
                                                <mat-option>-- None --</mat-option>
                                                <mat-option value="{{tareass?.presupuesto?.objetogasto?.id}}" > {{tareass?.presupuesto?.objetogasto?.identificador+' - '+tareass?.presupuesto?.objetogasto?.nombre}}</mat-option>
                                            </mat-select>
                                          </mat-form-field>  -->

                    <!-- <mat-form-field appearance="fill">
                                            <mat-label>Unidad de Medida</mat-label>
                                            <mat-select  name="idunidad"  [(ngModel)]="unidadmedida_seleccionado" NgModel required>
                                                <mat-option>-- None --</mat-option>
                                                <mat-option value="{{tareass?.presupuesto?.unidadmedida?.id}}"> {{tareass?.presupuesto?.unidadmedida?.nombre}}</mat-option>
                                            </mat-select>
                                          </mat-form-field>
                                          
                                          <mat-form-field appearance="fill">
                                            <mat-label>Fuentes</mat-label>
                                            <mat-select  name="idunidad"  [(ngModel)]="fuente_seleccionado" NgModel required>
                                                <mat-option>-- None --</mat-option>
                                                <mat-option value="1">Fuente 11</mat-option>
                                                <mat-option value="2">Fuente 12</mat-option>
                                                <mat-option value="3">Fuente 12B </mat-option>
                                            </mat-select>
                                          </mat-form-field>                                           -->
                </div>
                <!-- <div class="col-3"> -->
                <!-- <input type="number"  name="idobjeto" placeholder="CANTIDAD"  ngModel required>
                                    <input type="number"  name="idunidad" placeholder="CANTIDAD" ngModel required>
                                    <input type="number"  name="idfuente" placeholder="CANTIDAD" ngModel required>
                                    <select class="form-select mb-2" aria-label="Default select example">
                                        <option selected>UNIDAD DE MEDIDA</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select> -->
                <!-- </div> -->

                <!-- <input type="number" name="cantidad" placeholder="CANTIDAD"
                                        [(ngModel)]="+cantidad" NgModel required>
                                    <input type="number" name="costounitario" placeholder="COSTO"
                                        [(ngModel)]='+costounitario' ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                                        step="0.01" ngModel required>
                                    <div class="col-12">


                                        <input type="text" name="total"
                                            value="{{costounitario*cantidad || 0 | currency: 'L'}}"
                                            placeholder="TOTAL" NgModel required>

                                    </div> -->



                <div><br></div>
                <!-- <div class="row p-2 border rounded d-flex d-inline justify-content-center">
                                    <div class="col-12">
                                        <div class="col-3">
                                            <select class="form-select mb-2" aria-label="Default select example">
                                                <option selected>FUENTE</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <ng-container *ngFor="let x of List">
                                            <input type="text" placeholder="GRUPO DEL GASTO">
                                        </ng-container>
                                        <input type="text" placeholder="GRUPO DEL GASTO">
                                        <div class="col-12"></div>
                                    </div>
                                </div> -->

                <div><br></div>

            </ng-container> 

            <!-- </ng-container> -->
            <div class="container">
                <div class="d-grid gap-3 d-md-flex justify-content-md-end">

                    <button type="button" class="btn btn-danger float-start" (click)="toDetail()">Cerrar</button>
                    <!-- <ng-container  *ngIf="||saldo > +tareas.presupuesto.costounitario*+tareas.presupuesto.cantidad && +idfuente===1 || saldo1 > +tareas.presupuesto.costounitario*+tareas.presupuesto.cantidad && +idfuente===2 || saldo2 > +tareas.presupuesto.costounitario*+tareas.presupuesto.cantidad && +idfuente===3"> -->
                    <button type="submit" class="btn btn-success float-end"   [disabled]="tareas.invalid"   (click)="Update()">Guardar</button>
                <!-- </ng-container>  -->
                </div>
            </div>

            <div class="position-absolute top-50 start-50">
                <ng-container *ngIf="saldo < +tareas.presupuesto.costounitario*+tareas.presupuesto.cantidad && +idfuente===1">
                    <span class="alert alert-danger">El total excede el disponible en la Fuente11:
                        {{saldo|currency:'L'}} </span>
                </ng-container>
                <ng-container *ngIf="saldo1 < +tareas.presupuesto.costounitario*+tareas.presupuesto.cantidad && +idfuente===2">

                    <span class="alert alert-danger"> El total excede el disponible en la Fuente 12:
                        {{saldo1|currency:'L'}} </span>
                </ng-container>
                <ng-container *ngIf="saldo2 < +tareas.presupuesto.costounitario*+tareas.presupuesto.cantidad && +idfuente===3">

                    <span class="alert alert-danger"> El total excede el disponible en la Fuente 12B:
                        {{saldo2|currency:'L'}} </span>
                </ng-container>
            </div>







            <ul>
                <li>{{tareas?.presupuesto?.objetogasto?.nombre}}</li>
                <li>{{saldo}}</li>
                <li>{{+tareas.presupuesto.costounitario*+tareas.presupuesto.cantidad}}</li>
            </ul>