<!-- <top-bar></top-bar> -->
<!-- <app-back-button [path]="['gestion_pei/areas/detail/',this.idArea,this.idObjetivo,idDimension,idPei,idInsti]"></app-back-button> -->
<!-- Pantalla principal del modulo -->
<!-- <div class="container d-flex align-items-center justify-content-center mt-5 pt-5 "> -->
    
    <!-- columna completa que agrupa todos los row -->
    <div class="col-12">
        <!-- <br> -->
        <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
        <div class="container  rounded border border-dark" style="background-color: white;">
        <div class="w-100 row m-auto">
            <div class="row text-center">
                <h2></h2>
                <h2 class="l-4">Gestión de Indicadores</h2>
            </div>
            <div class="row justify-content-center text-center m-2 fs-5">
                <span>Institución: <a  class="text-decoration-none">{{InstiList.nombre}}</a>  - Departamento: <a  class="text-decoration-none">{{DeptoList.name}}</a> <br>
                    POA: <a  class="text-decoration-none">{{PoaList.name}}</a> - Actividad: <a  class="text-decoration-none">{{ActividadList.nombre}}</a>
                    <br>
                </span>
                
            </div>
            <div class="w-75 row m-auto mb-2">
                <!-- <div class="row">
                    <label for="id" class="row col-form-label">Seleccione un Área:</label>
                                <select class="form-control" aria-label="Default select example" name="id"
                                    [(ngModel)]="actividad_seleccionada"
                                    (ngModelChange)="selectActividad()" required>
            s
                                    <ng-container *ngFor="let x of ActividadListS">
                                        <option value="{{x.id}}" [selected]="x.id===idActividad">{{x.nombre}}</option>
                                    </ng-container>
                    </select>
                </div> -->
                <div class="col-8 mt-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar por nombre" aria-label="Buscar"
                            aria-describedby="btnGroupAddon" [(ngModel)]="filter" name="filter">
                        <div class="input-group-text" id="btnGroupAddon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </div>
                    </div>
                </div>
                
                <div class="col-4 mt-2">
                    <button type="button" class="btn btn-warning" (click)="toCreate()">
                        <i class="bi bi-plus-square"></i>
                        <span>
                            Crear Indicador
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <ng-container >
            <!-- tabla dinamica que muestra todas los objetivos -->
        <div class="w-75 m-auto row ">
            <table class="table table-hover  rounded border" >
                <thead class="text-center">
                    <tr>
                        <th class="table-secondary" scope="col">#</th>
                        <th class="table-secondary" scope="col">Nombre</th>
                        <!-- <th class="table-secondary" scope="col">Descripcion</th> -->
                        <!-- <th class="table-secondary" scope="col">Tipo</th> -->
                        <th class="table-secondary" scope="col">C/% Planificada</th>
                        <th class="table-secondary" scope="col">C/% Ejecutada</th>
                        <th class="table-secondary" scope="col">Promedio Alcanzado</th>
                        <th class="table-secondary" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="text-center">

                    <tr *ngFor="let x of indicadores | indicadorFiltro:filter | indicadorPaginacion:step:page; index as i ">
                       
                        <td>
                            <ng-container *ngIf="page > 0; else elseNumeracion">
                                {{i + page + 1}}
                            </ng-container>
                            <ng-template #elseNumeracion>
                                {{i + 1}}
                            </ng-template>
                        </td>
                        <td align="justify" >{{x.nombre}}</td>
                        <td>
                            {{x.cantidadPlanificada}} 
                            <ng-container *ngIf="x.isPorcentaje==true ">
                              %
                            </ng-container>
                            
                        </td>
                        <td>
                            {{x.cantidadEjecutada}} 
                            <ng-container *ngIf="x.isPorcentaje==true; else nopresupuesto ">
                                 %
                                </ng-container>
                                <ng-template #nopresupuesto>
                            
                                      
                                </ng-template></td> 
                           
                        
                        <td>{{x.promedioAlcanzado | percent}}</td>
                        <td>
                           
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-secondary" (click)="toDetail(x.id)">Gestionar</button>
                                <div class="btn-group rounded" role="group" aria-label="Basic mixed styles example">
                                <button style="background-color: #FF7615; color: white;" 
                                        title="Seguimiento del indicador" type="button" class="btn" 
                                        (click)="toSeguimiento(x.id)"><i class="bi bi-card-checklist"></i></button>
                           </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="justify-content-star">Página {{actualpage}} de {{maxPages}}</ul>
                <ul class="pagination justify-content-end">
                    <ng-container>
                        <li class="page-item" *ngIf="(page > 0)"><a class="page-link "
                                (click)="previousPage()">Anterior</a></li>
                    </ng-container>
                    <ng-container *ngIf="(actualpage < maxPages)">
                        <li class="page-item"><a class="page-link " (click)="nextPage()">Siguiente</a></li>
                    </ng-container>
                </ul>
            </nav>
            

        </div>
        </ng-container>
        
        <ng-template #empty>
            <!-- <app-empty></app-empty> -->
        </ng-template>
</div>
</div>
<!-- </div> -->


