
<div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-body text-center">
            <h1>CREAR OBJETIVO</h1>
            <form class="mt-3" [formGroup]="areaForm" (ngSubmit)="agregarArea()">
              <div class="mb-3">
                <input type="text" formControlName="nombre" class="form-control form-control-lg" placeholder="USERNAME">
                
              </div>
              <div class="mb-3">
                <input type="number" formControlName="idDimension" class="form-control form-control-lg" placeholder="idDimension">
                
              </div>
              <div class="mb-3">
                <input type="number" formControlName="idPEI" class="form-control form-control-lg" placeholder="idPEI">
                
              </div>
              <div class="mb-3">
                <button type="submit" routerLink="/insertObjetivo" class="btn btn-success btn-lg float-end">AGREGAR</button>
              </div>
            </form>
          </div>
        </div>
  
      </div>
    </div>
  </div>