<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> <td><i class="fa-solid fa-envelope"></i> </td>RECUPERAR CONTRASEÑA</span>
                   <form class="mt-3 "[formGroup]="passwordForm" (ngSubmit)="verificarUsuario()">
                    <div class="mb-3">
                        <input type="text" formControlName="userName" class="form-control form-control-lg"
                            placeholder="Nombre de usuario">
                        <div class="text-danger"
                        *ngIf="passwordForm.get('userName')?.hasError('required') && passwordForm.get('userName')?.touched">
                            <span>El nombre de usuario <strong>es obligatorio</strong></span>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-success btn-lg float-end">VERIFICAR</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>