
 
        <div class="container mt-8">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="card">
                        <div class="card-body text-center">
                            <span class="Titulo">LISTADO DE USUARIOS</span>
                            <button class="btn btn-success float-end" routerLink="/crear-usuario">Nuevo</button>
        
                            <table class="table table-striped mt-3">
                                <thead>
                                  <tr>
                                    <th scope="col">Objetivo</th>
                                    <th scope="col">Dimension</th>
                                    <th scope="col">PEI</th>
                                    <th scope="col">Acciones</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let x of objetivosList">
                                        <td>{{x.nombre}}</td>
                                        <td>{{x.dimension.nombre}}</td>
                                        <td>{{x.pei.nombre}}</td>
                                    <td>
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <i (click)="eliminarObjetivo(x.id)" class="fa-solid fa-trash"></i>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
        
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        
    

 
