table {
    width: 100%;
  }

.mat-form-field {
    font-size: 14px;
    width: 90%;
    margin-right: 10px;
  }

  .btnEdit, .btnDelete {
    cursor: pointer;
  }

  .btnDelete{
    color: #D60D0A ;
  }

  .btnEdit{
    color: #0A83D6;
  }