<div class="container login_container bg-light mt-5">
    <!-- contenedor para dos columnas, el formulario del login y una imagen lateral -->
    <div class="row row_principal border border-2 border-primary shadow">
    <!-- formulario de login -->
    <div class="col text-center">
        <div class="login-wrap">
          <!-- row para el titulo -->
          <div class="row titulo">
            <p class="fs-2">Cambiar Contraseña</p>
          </div>  
          <div class="form">
            <div class="modal-body">
            <form #pass='ngForm'(ngSubmit)="ChangeP(pass.value.old_password,pass.value.new_password,pass.value.new_password_again)">
  
            <!-- row para input nombre de usuario -->
            <div class="mb-3 mx-2 px-2 row">
                <label for="old_password" class="row col-form-label">Contraseña antigua:</label>
                <div class="col-sm-8 mx-4">
                  <input type="password" class="form-control" name="old_password" ngModel required>
                </div>
              </div>
  
              <div class="mb-3 mx-2 px-2 row">
                <label for="new_password" class="row col-form-label">Contraseña nueva:</label>
                <div class="col-sm-8 mx-4">
                  <input type="password" class="form-control" name="new_password" ngModel required>
                </div>
              </div>
  
  
              <div class="mb-3 mx-2 px-2 row">
                <label for="new_password_again" class="row col-form-label">Confirmar nueva contraseña:</label>
                <div class="col-sm-8 mx-4">
                  <input type="password" class="form-control" name="new_password_again" ngModel required>
                </div>
              </div>
  
           
            <div class="row justify-content-center mt-2 mb-2">
              <button type="submit" class="btn btn-warning col-sm-3 center" >Cambiar </button>
              <div> </div> 
              <div> </div> 
              <div> </div> 
                <button routerLink="/login" class="btn btn-warning col-sm-3 center">Volver</button>
              
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    <!-- espacio para una imagen informativa, puede ser logotipo con fondo -->
    <div class="col" id="image_login">
    </div>
    </div>
  </div>