<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container editForm">
        <div class="card-body">
            <div class="container">
                <form [formGroup]="usuario" (ngSubmit)="postUsuario(usuario.value)">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Usuario</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Nombre de usuario"
                                formControlName="username">
                            <div style="font-size: 12px; color:red; "
                                *ngIf="this.usuario.get('username')?.errors?.['required']">
                                El campo es requerido
                            </div>
                            <div style="font-size: 12px; color:red; "
                                *ngIf="this.usuario.get('username')?.errors?.['minlength']">
                                Debe contener por lo menos 4 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password"
                                formControlName="password">
                            <div style="font-size: 12px; color:red; "
                                *ngIf="this.usuario.get('password')?.errors?.['required']">
                                El campo es requerido
                            </div>
                            <div style="font-size: 12px; color:red; "
                                *ngIf="this.usuario.get('password')?.errors?.['minlength']" class="error">
                                Debe contener por lo menos 8 caracteres
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Confirmar Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                                formControlName="password2">
                            <div style="font-size: 12px; color:red; "
                                *ngIf="this.usuario.get('password2')?.errors?.['required']">
                                El campo es requerido
                            </div>
                            <div style="font-size: 12px; color:red; "
                                *ngIf="this.usuario.get('password2')?.errors?.['minlength']" class="error">
                                Debe contener por lo menos 8 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputState">Empleado</label>
                            <select class="form-control" formControlName="idEmpleado">
                                <option value="">Selecciona una opción</option>
                                <option value="{{x.id}}" *ngFor="let x of empleadoList">
                                    {{x.nombre}} {{x.apellido}}
                                </option>
                            </select>
                            <div style="font-size: 12px; color:red; "
                                *ngIf="this.usuario.get('idEmpleado')?.errors?.['required']">
                                El campo es requerido
                            </div>

                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">Rol</label>
                            <select class="form-control" formControlName="idRol">
                                <option value="">Selecciona una opción</option>
                                <option value="{{x.id}}" *ngFor="let x of roleList">
                                    {{x.rol}}
                                </option>
                            </select>
                            <div style="font-size: 12px; color:red; "
                            *ngIf="this.usuario.get('idRol')?.errors?.['required']">
                            El campo es requerido
                        </div>
                        </div>
                    </div>

                    

                </form>

            </div>
        </div>
    
    <pre>
       <!--{{ usuario.value | json }}--> 
    </pre>
    </div>
</body>
</html>