<div class="container d-flex align-items-center justify-content-center p-0">
    <div class="container w-75 bg-light bg-gradient border border-2 rounded mt-5 shadow">
        <div class="row w-100 h-100 p-5 mx-3">
            <div class="row">
                <div class="col-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-6  px-2">
                            <span class="label pb-0 mb-0">
                                Nombre de usuario:
                            </span>
                            <br>
                            <span class="fs-2 pt-0 mt-0 text-primary">{{user.usuario}}</span>
                        </div>
                        <div class="col-5  mx-2">
                            <span class="label pb-0 mb-0">
                                Rol:
                            </span>
                            <br>
                            <span class="fs-2 pt-0 mt-0 text-primary">{{user.rol.rol}}</span>
                        </div>
                    </div>
                    <div class="row mt-2 ">
                        <span>Datos del empleado:</span>
                        <div class="row">
                            <div class="col-6">
                                <span class="label pb-0 mb-0">
                                    Nombre:
                                </span>
                                <span class="fs-5 pt-0 mt-0 ">{{user.empleado.nombre}}</span>
                            </div>

                            <div class="col-6">
                                <span class="label pb-0 mb-0">
                                    Apellido:
                                </span>
                                <span class="fs-5 pt-0 mt-0 ">{{user.empleado.apellido}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span class="label pb-0 mb-0">
                                    Dirección:
                                </span>
                                <span class="fs-5 pt-0 mt-0 ">{{user.empleado.direccion}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                    <span>Datos de la Institución:</span>
                    
                        <div class="col-12">
                            <span class="label pb-0 mb-0">
                                Nombre:
                            </span>
                            <span class="fs-5 pt-0 mt-0 text-primary">{{user.empleado.Institucion.nombre}}</span>
                        </div>

                        <div class="col-12">
                            <span class="label pb-0 mb-0">
                                Descripción:
                            </span>
                            <span class="fs-5 pt-0 mt-0 text-primary">{{user.empleado.Institucion.descripcion}}</span>
                        </div>
                    </div>
            <div class="row-12 d-flex justify-content-end">
                <button type="button" class="btn btn-secondary">Editar</button>
                <button   routerLink="/changepassword" type="button" class="btn btn-warning mx-2">Cambiar Contraseña</button>

            </div>

            
    </div>
</div>
