<top-bar></top-bar>
<app-back-button [path]="['/gestion_poa/indicadores/list/',this.idActividad,idPoa,idDepto,idInsti]"></app-back-button>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body class="justify-content-center abs-center mt-5 pt-5">
   
    <div class="col-12  w-50">
      
       
        <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
        <div class="container shadow rounded border border-dark" style="background-color: white;">
            <div class="w-100 row m-auto">
                
                <div class="row text-center">
                    <h1> </h1>
                    <h2 class="l-4">Seguimiento Indicador</h2>
                    <span class="fs4">
                      Para la Actividad: <span class="text-primary">{{ActividadList.nombre}}</span> <br>
                      </span>
                </div>
            </div>
            
            <form class='row g-3 justify-content-center' >
      
                <div class="col-10" >
                  <label for="inputNombre" class="form-label">Nombre:</label>
                  <textarea type="text" class="form-control" id="inputNombre" rows="2" value="{{indicadores.nombre}}" disabled></textarea>
                </div>
            
                <div class="col-10 mb-3">
                  <label for="inputDescripcion" class="form-label">Descripción:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" value="{{indicadores.descripcion}}" disabled></textarea>
                </div>
                
                <div class="col-8" *ngIf="indicadores.isCantidad === true">
                    <label for="inputArea" class="form-label">Cantidad Planificada:</label>
                    </div>
                    <div class="col-8" *ngIf="indicadores.isCantidad === false">
                        <label for="inputArea" class="form-label">Porcetaje Planificado:</label>
                        </div>
                    <div class="col-2">
                    <input type="text" class="form-control" id="cp" name="cantidadPlanificada" [(ngModel)]="cantidadPlanificada" value="{{indicadores.cantidadPlanificada}}" disabled>
                  </div>
  
                  <div class="col-8" *ngIf="indicadores.isCantidad === true">
                    <label for="inputObjetivo" class="form-label">Cantidad Ejecutada:</label>
                    </div>
                    <div class="col-8" *ngIf="indicadores.isCantidad === false">
                        <label for="inputArea" class="form-label">Porcetaje Ejecutado:</label>
                        </div>
                    <div class="col-2" >
                    <input type="text" class="form-control" id="ce" name="cantidadEjecutada" [(ngModel)]="cantidadEjecutada" value="{{indicadores.cantidadEjecutada}}" (keyup)="promedio()">
                  </div>
                  <!-- <div class="col-1">%</div> -->

                  <div class="col-8">
                    <label for="inputObjetivo" class="form-label">Promedio Alcanzado:</label>
                    </div>
                    <div class="col-md-2">
                    <input type="text" class="form-control" id="pa" name="promedioAlcanzado" [(ngModel)]="promedioAlcanzado" value="{{indicadores.promedioAlcanzado}}" disabled >
                  </div>

                  <div class="col-10" style="text-align: right;" >
                    <div class="col-5  badge text-bg-info" *ngIf="indicadores.isPorcentaje === true"><p>*Tipo de representación: 'Porcentaje' </p></div>
                      <p class="col-5  badge text-bg-info" *ngIf="indicadores.isCantidad === true"><span>*Tipo de representación: 'Cantidad' </span></p>
                   </div>
            
              </form>
             
             
              <br>
                <div class="container">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-secondary" (click)="toList()" >Cancelar</button>
                        <!-- [disabled]="Result.invalid" -->
                        <button type="submit" class="btn btn-warning" (click)="UpdateSeguimiento()">Guardar</button>
                    </div>
                </div>
                <br>
           
        </div>
    </div>
</body>
