<top-bar></top-bar>
<app-back-button [path]="['/gestion_poa/actividad/tab/',this.idActividad,idPoa,idDepto,idInsti]"></app-back-button>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <title>Bootstrap Example</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body class="justify-content-center abs-center mt-5 pt-5">

  <div class="col-12  w-50">


    <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
    <div class="container shadow rounded border border-dark" style="background-color: white;">
      <div class="w-100 row m-auto">

        <div class="row text-center">
          <h1> </h1>
          <h2 class="l-4">Seguimiento Indicador</h2>
          <span class="fs4">
            Para la Actividad: <span class="text-primary">{{ActividadList.nombre}}</span> <br>
          </span>
        </div>
      </div>

      <form class='row g-3 justify-content-center'>

        <div class="col-10">
          <label for="inputNombre" class="form-label">Nombre:</label>
          <textarea type="text" class="form-control" id="inputNombre" rows="2" value="{{indicadores.nombre}}"
            disabled></textarea>
        </div>

        <div class="col-10 mb-3">
          <label for="inputDescripcion" class="form-label">Descripción:</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" value="{{indicadores.descripcion}}"
            disabled></textarea>
        </div>

        <div class="col-8" *ngIf="indicadores.isCantidad === true">
          <label for="inputArea" class="form-label">Cantidad Planificada:</label>
        </div>
        <div class="col-8" *ngIf="indicadores.isCantidad === false">
          <label for="inputArea" class="form-label">Porcetaje Planificado:</label>
        </div>
        <div class="col-2">
          <input type="text" class="form-control" id="cp" name="cantidadPlanificada" [(ngModel)]="cantidadPlanificada"
            value="{{indicadores.cantidadPlanificada}}">
        </div>


        <div class="col-8" *ngIf="indicadores.isCantidad === true">
          <label for="inputObjetivo" class="form-label">Cantidad Ejecutada:</label>
        </div>
        <div class="col-8" *ngIf="indicadores.isCantidad === false">
          <label for="inputArea" class="form-label">Porcetaje Ejecutado:</label>
        </div>
        <div class="col-2">
          <input type="text" class="form-control" id="ce" name="cantidadEjecutada" [(ngModel)]="cantidadEjecutada"
            value="{{indicadores.cantidadEjecutada}}" (keyup)="promedio()">
        </div>
        <!-- <div class="col-1">%</div> -->

        <div class="col-8">
          <label for="inputObjetivo" class="form-label">Promedio Alcanzado:</label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" id="pa" name="promedioAlcanzado" [(ngModel)]="promedioAlcanzado"
            value="{{indicadores.promedioAlcanzado}}" disabled>
        </div>

        <div class="col-10" style="text-align: right;">
          <div class="col-5  badge text-bg-info" *ngIf="indicadores.isPorcentaje === true">
            <p>*Tipo de representación: 'Porcentaje' </p>
          </div>
          <p class="col-5  badge text-bg-info" *ngIf="indicadores.isCantidad === true"><span>*Tipo de representación:
              'Cantidad' </span></p>
        </div>

      </form>


      <br>
      <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-secondary" (click)="toTab()">Cancelar</button>
          <!-- [disabled]="Result.invalid" -->
          <button type="submit" class="btn btn-warning" (click)="UpdateSeguimiento()">Guardar</button>
        </div>
      </div>
      <br>

    </div>
  </div>
  <div class="col-12  w-50">



    <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
    <div class="container shadow rounded border border-dark" style="background-color: white;">
      <div class="w-100 row m-auto">

        <div class="row text-center">
          <h1> </h1>
          <h2 class="l-4">Seguimiento de POA "2021"</h2>
          <span class="l-2">
            De Actividad: <span class="text-primary">{{ActividadList.nombre}}</span> <br>
          </span>
        </div>
      </div>
      <h1> </h1>
      <form class='row g-3 justify-content-center'>
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Primer Trimestre
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col">
                <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                  <a class="link" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1" style="color: darkgreen;"><strong>Enero</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                  <a class="link" data-bs-toggle="collapse" href="#multiCollapseExample2" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1" style="color: darkgreen;"><strong>Febrero</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                  <a class="link" data-bs-toggle="collapse" href="#multiCollapseExample3" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1" style="color: darkgreen;"><strong>Marzo</strong></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                  <div class="card card-body d-grid gap-2 d-md-flex justify-content-md-end card border-secondary mb-3">
                    <p>Cumplir con el 25% del indicador actual, 25000 lps, mantenimiento, compra de combustible diesel.
                    </p>
                    <button type="button" class="btn btn-warning float-center">Seguimiento</button>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                  <div class="card card-body d-grid gap-2 d-md-flex justify-content-md-end card border-secondary mb-3">
                    <p>Cumplir con el 100% del indicador actual, 25000 lps, capacitaciones, profesionales y materiales.
                    </p>
                    <button type="button" class="btn btn-warning float-center">Seguimiento</button>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                  <div class="card card-body d-grid gap-2 d-md-flex justify-content-md-end card border-secondary mb-3">
                    <p>Cumplir con el 100% del indicador actual, 25000 lps, capacitaciones, profesionales y materiales.</p>
                    <button type="button" class="btn btn-warning float-center">Seguimiento</button>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Segundo Trimestre
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col">
                <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                  <a class="link" data-bs-toggle="collapse" href="#multiCollapseExample4" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1" style="color: darkgreen;"><strong>Abril</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                  <a class="link" data-bs-toggle="collapse" href="#multiCollapseExample5" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1" style="color: darkgreen;"><strong>Mayo</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                  <a class="link" data-bs-toggle="collapse" href="#multiCollapseExample6" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1" style="color: darkgreen;"><strong>Junio</strong></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample4">
                  <div class="card card-body d-grid gap-2 d-md-flex justify-content-md-end card border-secondary mb-3">
                    <p>Cumplir con el 100%, 5000 lps, almuerzos, compra de almuerzos.</p>
                    <button type="button" class="btn btn-warning float-center">Seguimiento</button>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample5">
                  <div class="card card-body d-grid gap-2 d-md-flex justify-content-md-end card border-secondary mb-3">
                    <p>Cumplir con el 100%, 5000 lps, materiales didácticos, compra de materiales didácticos para
                      laboratorios.</p>
                    <button type="button" class="btn btn-warning float-center">Seguimiento</button>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample6">
                  <div class="card card-body d-grid gap-2 d-md-flex justify-content-md-end card border-secondary mb-3">
                    <p>Cumplir con el 100%, 5000 lps, materiales didácticos, compra de materiales didácticos para
                      laboratorios.</p>
                    <button type="button" class="btn btn-warning float-center">Seguimiento</button>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tercer Trimestre
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col">
                <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                  <a class="link" data-bs-toggle="collapse" href="#multiCollapseExample7" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1" style="color: darkgreen;"><strong>Julio</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                  <a class="link" data-bs-toggle="collapse" href="#multiCollapseExample8" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1" style="color: darkgreen;"><strong>Agosto</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                  <a class="link" data-bs-toggle="collapse" href="#multiCollapseExample9" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1" style="color: darkgreen;"><strong>Septiembre</strong></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample7">
                  <div class="card card-body d-grid gap-2 d-md-flex justify-content-md-end card border-secondary mb-3">
                    <p>Completar con el 100%, 3000 lps, viáticos, viáticos para ir a supervisar prácticas profesionales.
                    </p>
                    <button type="button" class="btn btn-warning float-center">Seguimiento</button>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample8">
                  <div class="card card-body d-grid gap-2 d-md-flex justify-content-md-end card border-secondary mb-3">
                    <p>Completar con el 100%, 8000 lps, actividades, gestión para capacitación de personal.</p>
                    <button type="button" class="btn btn-warning float-center">Seguimiento</button>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample9">
                  <div class="card card-body d-grid gap-2 d-md-flex justify-content-md-end card border-secondary mb-3">
                    <p>Completar con el 100%, 6000 lps, actividades, actividades recreativas y formativas para docentes
                      por parte de RR.HH</p>
                    <button type="button" class="btn btn-warning float-center">Seguimiento</button>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Cuarto Trimestre
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col">
                <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                  <a class="link" data-bs-toggle="collapse" href="#multiCollapseExample10" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1" style="color: darkgreen;"><strong>Octubre</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                  <a class="link" data-bs-toggle="collapse" href="#multiCollapseExample11" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1" style="color: darkgreen;"><strong>Noviembre</strong></a>
                </div>
              </div>
              <div class="col">
                <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
                  <a class="link" data-bs-toggle="collapse" href="#multiCollapseExample12" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1" style="color: darkgreen;"><strong>Diciembre</strong></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample10">
                  <div class="card card-body d-grid gap-2 d-md-flex justify-content-md-end card border-secondary mb-3">
                    <p>Completar con el 100%, 15000 lps, viáticos y comida, viáticos y alimentación para transporte a
                      CU.</p>
                    <button type="button" class="btn btn-warning float-center">Seguimiento</button>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample11">
                  <div class="card card-body d-grid gap-2 d-md-flex justify-content-md-end card border-secondary mb-3">
                    <p>Completar con el 100%, 6000 lps, capacitación, capacitación a personal administrativo en el
                      CURLP.</p>
                    <button type="button" class="btn btn-warning float-center">Seguimiento</button>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample12">
                  <div class="card card-body d-grid gap-2 d-md-flex justify-content-md-end card border-secondary mb-3">
                    <p>Completar con el 100%, 20000 lps, mantenimiento y reparación, mantenimiento y reparación de
                      instalaciones en el CURLP.</p>
                    <button type="button" class="btn btn-warning float-center">Seguimiento</button>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
      <br>
      <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-secondary" (click)="toTab()">Cancelar</button>
          <!-- [disabled]="Result.invalid" -->
          <button type="submit" class="btn btn-warning">Guardar</button>
        </div>
      </div>
      <br>

    </div>
  </div>
</body>