<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div class="">
    <top-bar></top-bar>
</div>
<body>
    <div class="container">
        <!-- <app-sidebar></app-sidebar> -->
        <aside class="col-2">
            <app-sidebar></app-sidebar>
        </aside>
        <div class="container">
            <app-objetivos></app-objetivos>
        </div>
    </div>
</body>
</html>