<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div class="">
    <top-bar></top-bar>
</div>
<body>
    <br>
    <div class="container-fluid ms-0 ps-0 mt-4">
        <div class="row align-items-start">
            <div class="col-1">
                <app-sidebar [rutaActual]="rutaActual"></app-sidebar>
            </div>

            <div class="col-11 mt-5">
                <app-objetivos></app-objetivos>
                
            </div>
        </div>
        
    </div>
</body>
</html>