
      <top-bar></top-bar>
      <body class="justify-content-center abs-center mt-5 pt-5 abs-center">
          <div class="col-7">
              <br>
              <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
              <div class="container border rounded rounden-2 p-2">
              <div class="w-100 row m-auto">
              <br>
              <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
              <div class="w-100 row m-auto">
                   
                  <div class="row text-center">
                      <h2 class="l-4" ><font color='black'>Editar un area</font></h2>
                  </div>
                  
                  <div class="d-grid gap-2 d-md-flex justify-content-end">
      
                  </div>
                <div class="col-10">
                  <label for="inputNombre" class="form-label"  name="nombre">Nombre:</label>
                  <textarea type="text" class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="nombre" rows="2" value="{{area.nombre}}" >
                  </textarea>
                  </div>
      
                  <div class="d-grid gap-2 d-md-flex justify-content-end">
                    <button type="button" class="btn btn-secondary" (click)="toDetail()">Regresar</button>
                    <button type="submit" class="btn btn-warning" (click)="update()" >Actualizar</button>
                </div>
              </div>
          </div>
              </div>
            </div>
      </body>
      
              
