<top-bar></top-bar>
<!-- <app-back-button [path]="['/gestion_poa/planificacion/list/', this.idPoa, this.idActividad, this.idInsti, this.idDepto,]"></app-back-button> -->


<body class="justify-content-center abs-center mt-5 pt-5">
  <div class="col-7">
    <br>
    <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
    <div class="container border rounded rounden-2 p-2">
      <div class="w-100 row m-auto">
        <br>
        <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
        <div class="w-100 row m-auto">

          <div class="row text-center">
            <h2 class="l-4">Detalle de Planificación</h2>
            <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
    <div class="row justify-content-center text-center m-2 fs-5">
      <span >POA: <a   (click)="toPoa()" class="text-decoration-none">{{poa.name}}</a>  - Institución: <a class="text-decoration-none">{{insti.nombre}}</a> <br>
        <span class="-b-text-undexpanded"> Departamento: <a  class="text-decoration-none">{{depto.name}}</a></span> <br>
        <span class="-b-text-undexpanded"> Actividad: <a  class="text-decoration-none">{{act.nombre}}</a></span>


        <br>
    </span>
    </div>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-end">
            <button type="submit" class="btn btn-warning" (click)="toUpdate()">Editar</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarPlanificacion">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
              </svg>
            </button>

          </div>
          <div class="col-10">
            <label for="inputNombre" class="form-label">Trimestre:</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea1" value="{{planificacion.trimestre}}"
              disabled>
          </div>
          <div class="col-10 mb-3">
            <label for="inputDescripcion" class="form-label">Cantidad:</label>
            <input type="number" class="form-control" id="exampleFormControlTextarea1"
              value="{{planificacion.cantidad}}" disabled>
          </div>
          <div class="col-10 mb-3">
            <label for="inputDescripcion" class="form-label">Fecha Inicial:</label>
            <input type="date" class="form-control" id="exampleFormControlTextarea1"
              value="{{planificacion.fechaInicio}}" disabled>
          </div>
          <div class="col-10 mb-3">
            <label for="inputDescripcion" class="form-label">Fecha Final:</label>
            <input type="date" class="form-control" id="exampleFormControlTextarea1" value="{{planificacion.fechaFin}}"
              disabled>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-between">
            <button type="button" class="btn btn-secondary" (click)="toList()">Regresar</button>
            <!-- <button type="button" class="btn btn-success ampliar-button">Mostrar Objetivos</button> -->

          </div>
        </div>

      </div>
    </div>
    <!-- Este modal sirve para eliminar una Dimensión -->
    <div class="modal" tabindex="-1" id="eliminarPlanificacion">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title fs-3 m-auto"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Está seguro de eliminarla? </p>
          </div>
          <form id="eliminarDimension">
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="toList()">Cancelar</button>
              <button type="submit" class="btn btn-danger" (click)="Delete()">Eliminar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
