

<div class="container login_container bg-light mt-5">
    <!-- contenedor para dos columnas, el formulario del login y una imagen lateral -->
    <div class="row row_principal border border-2 border-primary shadow">
    <!-- formulario de login -->
    <div class="col text-center">
  
        <div class="login-wrap">
          <!-- row para el titulo -->
          <div class="row titulo">
            <p class="fs-2">Recuperar contraseña</p>
          </div>  
          <div class="form">
            <div class="modal-body">
            <form #pass='ngForm'(ngSubmit)="newP(pass.value.newPassword,pass.value.newPasswordAgain)">
  
            <!-- row para input nombre de usuario -->
            <div class="mb-3 mx-2 px-2 row">
              <label for="newPassword" class="row col-form-label">Contraseña nueva:</label>
              <div class="col-sm-8 mx-4">
                <input type="text" class="form-control" name="newPassword" ngModel required>
              </div>
            </div>

            <div class="mb-3 mx-2 px-2 row">
              <label for="newPasswordAgain" class="row col-form-label">Repite la nueva contraseña:</label>
              <div class="col-sm-8 mx-4">
                <input type="text" class="form-control" name="newPasswordAgain" ngModel required>
              </div>
            </div>
            
            <div class="row justify-content-center mt-2 mb-2">
              <button type="submit" class="btn btn-warning col-sm-3 center">Restablecer</button>
            </div>
          </form>
          </div>
          
        </div>
      </div>
  
    </div>
    <!-- espacio para una imagen informativa, puede ser logotipo con fondo -->
    <div class="col" id="image_login">
    </div>
    </div>
  
  </div>
  