<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">

          <h1>    CREAR AREA  </h1>

          <div class="mb-3">
            <input type="text" formControlName="nombre" class="form-control form-control-lg" placeholder="Nombre">

          </div>
          <div class="mb-3">
            <input type="number" formControlName="idObjetivo" class="form-control form-control-lg"
              placeholder="idObjetivo">

          </div>
          <div class="mb-3">
            <input type="number" formControlName="idDimension" class="form-control form-control-lg"
              placeholder="idDimension">

          </div>
          <div class="mb-3">
            <input type="number" formControlName="idPEI" class="form-control form-control-lg" placeholder="idPEI">

          </div>
          <div class="mb-3">
            <button type="submit" routerLink="/crear-area" class="btn btn-success btn-lg float-end">AGREGAR</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>