<top-bar></top-bar>
<app-back-button [path]="['/gestion_pei/resultados/detail/',this.id,this.idArea,this.idObjetivo,this.idDimension,this.idPei,this.idInsti]"></app-back-button>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body class="justify-content-center abs-center mt-5 pt-5">
   
    <div class="col-12  w-75">
      
       
        <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
        <div class="container shadow rounded border border-dark" style="background-color: white;">
            <div class="w-100 row m-auto">
                
                <div class="row text-center">
                    <h1> </h1>
                    <h2 class="l-4">Editar Resultado</h2>
                </div>
            </div>

            <form>
                <div class="container">
                    <!-- Campo para el nombre del resultado -->
                    <div class="mb-3 mx-2 px-2 row">
                        <label for="inputNombre" class="form-label"  name="nombre">Nombre:</label>
                        <div class="row">
                        <textarea type="text" class="form-control" id="exampleFormControlTextarea1" name="nombre" [(ngModel)]="nombre" rows="2" value="{{resultado.nombre}}" >
                        </textarea>
                        </div>
                    </div>
                    <!-- Campo para la descripción del resultado -->
                    <div class="mb-3 mx-2 px-2 row">
                        <label for="inputDescripcion" class="form-label" >Descripción:</label>
                        <div class="row">
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="descripcion" [(ngModel)]="descripcion" rows="2" value="{{resultado.descripcion}}" ></textarea>
                      </div>
                </div>
                <div class="container">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
                        <!-- [disabled]="Result.invalid" -->
                        <button type="submit" class="btn btn-warning" (click)="Update()" >Guardar</button>
                    </div>
                </div>
                <br>
                </div>
            </form>
        </div>
    </div>
</body>