<body class="justify-content-center mt-5 pt-5">
    <div class="container d-flex align-items-center justify-content-center ">
        <div class="col-12 ">
            <br>
            <div class="container  rounded border border-dark" style="background-color: white;">
                <div class="w-100 row m-auto">
                    <div class="row">
                        <div class="row text-center">
                            <h2></h2>
                            <h2 class="l-4">Revisión de POA</h2>
                        </div>
                    </div>
                    <div class="w-75 row m-auto mb-2">
                        <div class="row">
                            <label for="id" class="row col-form-label">Seleccione un departamento:</label>
                            <select class="form-control" aria-label="Default select example" name="id"
                                (ngModelChange)="selectDepto()" required>
                                <ng-container *ngFor="let x of DeptoList">
                                    <option value="{{x.id}}" [selected]="x.id===idDepto">{{x.name}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="w-75 row m-auto mb-2">
                        <div class="row">
                            <label for="id" class="row col-form-label">Seleccione un POA:</label>
                            <select class="form-control" aria-label="Default select example" name="id"
                                 (ngModelChange)="selectPoa()" required>
                                <ng-container *ngFor="let x of poa">
                                    <option value="{{x.id}}" [selected]="x.id===idPoa">{{x.name}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="w-75 row m-auto mb-2">
                        <div><br></div>

                        <div class="col-16">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Buscar por nombre"
                                    aria-label="Buscar" aria-describedby="btnGroupAddon"
                                    aria-describedby="btnGroupAddon" name="filter">
                                <div class="input-group-text" id="btnGroupAddon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-search" viewBox="0 0 16 16">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>








                <div class="w-75 m-auto row ">
                    <div class="container-xl" >
                        <div class="g-col-4 bg-white rounded border border">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item" *ngFor="let x of actividades">
                                  <h2 class="accordion-header" id="headingOne">
                                    <button
                                      class="accordion-button collapsed"
                                      type="button"
                                      data-bs-toggle="collapse"
                                      data-bs-target="#collapse"
                                      aria-expanded="false"
                                      aria-controls="collapseOne"
                                    >
                                    {{x.nombre}}
                                    </button>
                                  </h2>
                                  <div
                                    id="collapse"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="headingOne"
                                    data-bs-parent="#accordionExample"
                                    style="">
                                    <div class="accordion-body"></div>
                                    <table class="table table-hover shadow rounded border">
                                        <thead class="text-center">
                                            <tr>
                                                <th class="table-secondary" scope="col">#</th>
                                                <th align="left" class="table-secondary" scope="col">Nombre</th>
                                                <th align="left" class="table-secondary" scope="col">Costo</th>
                                                <th class="table-secondary" scope="col">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center" *ngFor="let x of listTareas">
                                            <tr >
                                                <td>
                                                    1
                                                </td>
                                                <td align="center">{{x.nombre}}</td>
                                                <td align="center">{{x.presupuesto.total}}</td>
                                                <td>
                                                    <div class="btn-group" role="group"
                                                        aria-label="Basic mixed styles example">
                                                        <button type="button" class="btn btn-secondary" (click)="toDetail(x.id)">Revisar
                                                            Tareas</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                  </div>
                                </div>

                              </div>
                            <!-- <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item" *ngFor="let x of poa">
                                    <h2 class="accordion-header" id="flush-heading">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                            aria-expanded="false" aria-controls="flush-collapseOne">
                                            {{x.name}}
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                        <table class="table table-hover shadow rounded border">
                                            <thead class="text-center">
                                                <tr>
                                                    <th class="table-secondary" scope="col">#</th>
                                                    <th align="left" class="table-secondary" scope="col">Nombre</th>
                                                    <th align="left" class="table-secondary" scope="col">Estado</th>
                                                    <th class="table-secondary" scope="col">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-center">
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td align="center">Actividad 1</td>
                                                    <td align="center">Revision</td>
                                                    <td>
                                                        <div class="btn-group" role="group"
                                                            aria-label="Basic mixed styles example">
                                                            <button type="button" class="btn btn-secondary">Revisar
                                                                Tareas</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td align="center">Actividad 2</td>
                                                    <td align="center">Reformulacion</td>
                                                    <td>
                                                        <div class="btn-group" role="group"
                                                            aria-label="Basic mixed styles example">
                                                            <button type="button" class="btn btn-secondary">Revisar
                                                                Tareas</button>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>


                    <nav aria-label="Page navigation example">
                        <div class="justify-content-start">
                            <p>
                                <input type="text" value="{{step}}" style="width:20px"
                                    class="border rounded text-center">
                                registros por página.
                            </p>
                        </div>
                        <ul class="pagination justify-content-end">
                            <ng-container>
                                <li class="page-item" [ngClass]="page === 1 ? 'disable':''"><a class="page-link "
                                        (click)="previousPage()">Anterior</a></li>
                            </ng-container>
                            <ng-container *ngFor="let x of enumPages">
                                <li class="page-item" [ngClass]="(page/step)+1 === x ? 'active':''"><a class="page-link"
                                        (click)="selectPage(x-1)">{{x}}</a></li>
                            </ng-container>
                            <ng-container *ngIf="(page <= maxPages + 1)">
                                <li class="page-item"><a class="page-link " (click)="nextPage()">Siguiente</a></li>
                            </ng-container>
                        </ul>
                    </nav>
                </div>




            </div>
        </div>
    </div>
</body>