<!-- Pantalla principal del modulo -->
<div class="container d-flex align-items-center justify-content-center ">


    <!-- columna completa que agrupa todos los row -->
    <div class="col-12 ">

        <!-- espacio para el titulo, buscador y boton de agregar uno nuevo -->
        <div class="w-100 row m-auto">
            <div class="row text-center">
                <h2 class="l-4">Gestión de Usuario</h2>
            </div>
            <div class="w-75 row m-auto mb-2">

                <!-- Modal para buscar usuario por Id -->
                <div class="modal fade" id="buscarId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"> Usuario </h5>
                                <button type="button" class="close" (click)="cleanData()" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <table class="table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Id</th>
                                            <th>Usuario</th>
                                            <th>Empleado</th>
                                            <th>Rol Asignado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--Obtenemos los resultados desde la lista en la cual almacenamos el usuario,
                                        Utilizamos el componente objToArray para convertir el objeto en un array-->
                                        <tr *ngFor="let users of userList | objToArray">
                                            <th>{{ users.id }}</th>
                                            <td>{{ users.username }}</td>
                                            <td>{{ users.empleado.nombre }} {{users.empleado.apellido}}</td>
                                            <td>{{ users.role.rol }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div *ngIf="user.check == '404'">
                                    <p align="center"> User not found </p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" (click)="cleanData()" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

                <br>
            </div>
            <div class="w-75 row m-auto mb-2">
                <div class="col-8">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar por nombre" aria-label="Buscar"
                            aria-describedby="btnGroupAddon" [(ngModel)]="filter" name="filter">

                        <!--Input donde obtenemos el id del usuario a obtener -->
                        <input type="text" class="form-control" aria-label="Buscar" aria-describedby="btnGroupAddon"
                            maxlength="4" [(ngModel)]="id" id="inlineFormInputName2" placeholder="Buscar usuario por id"
                            requerid>
                        <!-- Boton para invocar el metodo para obetener el usuario -->
                        <div class="input-group-text">
                            <button type="submit" (click)="getUser()" data-toggle="modal" data-target="#buscarId">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#createInst">
                        <i class="bi bi-plus-square"></i>
                        <span>
                            Crear Usuario
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <!-- tabla dinamica que muestra todas los Resultados -->
        <div class="w-75 m-auto row ">
            <table class="table table-hover">
                <thead class="text-center">
                    <tr>
                        <th class="table-secondary" scope="col">#</th>
                        <th class="table-secondary" scope="col">E-Mail</th>
                        <th class="table-secondary" scope="col">Usuario</th>
                        <th class="table-secondary" scope="col">Empleado</th>
                        <th class="table-secondary" scope="col">Rol</th>
                        <th class="table-secondary" scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr *ngFor="let x of usuarioList | filterPipe:filter | paginacion:step:page; index as i">
                        <!-- este contador no es id, solo es para enumerar -->
                        <td>
                            <ng-container *ngIf="page > 0; else elseNumeracion">
                                {{i + page + 1}}
                            </ng-container>
                            <ng-template #elseNumeracion>
                                {{i + 1}}
                            </ng-template>
                        </td>
                        <td>{{x.email}}</td>
                        <td>{{x.username}}</td>
                        <td>{{x.empleado.nombre}} {{x.empleado.apellido}}</td>
                        <td>{{x.role.rol}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#editInst" (click)="set_user_to_update(x)">Editar</button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#eliminarUsuario"(click)="set_id_delete(x.nombre)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <div class="justify-content-start">
                    <p>
                        <input type="text" value="{{step}}" style="width:20px" [(ngModel)]="step"
                            class="border rounded text-center"> registros por página.
                    </p>
                </div>
                <ul class="pagination justify-content-end">
                    <ng-container>
                        <li class="page-item" [ngClass]="page === 1 ? 'disable':''"><a class="page-link "
                                (click)="previousPage()">Anterior</a></li>
                    </ng-container>
                    <ng-container *ngFor="let x of enumPages">
                        <li class="page-item" [ngClass]="(page/step)+1 === x ? 'active':''"><a class="page-link"
                                (click)="selectPage(x-1)">{{x}}</a></li>
                    </ng-container>
                    <ng-container *ngIf="(page <= maxPages + 1)">
                        <li class="page-item"><a class="page-link " (click)="nextPage()">Siguiente</a></li>
                    </ng-container>
                </ul>
            </nav>

        </div>
    </div>
</div>

<!-- Este modal sirve para crear un nuevo usuario -->
<div class="modal" id="createInst" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header bg-warning text-black text-center">
                <h5 class="modal-title fs-5 text-center m-auto" id="exampleModalLabel">Crear Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #User="ngForm"
                    (ngSubmit)="crear_Usuario(User.value.email,User.value.username,User.value.password,User.value.password2,User.value.idEmpleado,User.value.idRol)"
                    id="CreateUsuario">
                    <div class="col">
                        <!-- Campo para el E-Mail -->
                        <div class="mb-3 mx-2 px-2 row">
                            <label for="email" class="row col-form-label">E-Mail:</label>
                            <div class="row">
                                <input type="text" class="form-control" name="email" ngModel required>
                            </div>
                        </div>
                        <!-- Campo para el nombre de Usuario -->
                        <div class="mb-3 mx-2 px-2 row">
                            <label for="username" class="row col-form-label">Nombre de Usuario</label>
                            <div class="row">
                                <input type="text" class="form-control" name="username" ngModel required>
                            </div>
                        </div>
                        <!-- Campo para el nombre de confirmar password -->
                        <div class="mb-3 mx-2 px-2 row">
                            <label for="password" class="row col-form-label">Password</label>
                            <div class="row">
                                <input type="password" class="form-control" name="password" ngModel required>
                            </div>
                        </div>
                        <!-- Campo para el nombre del Password confirm -->
                        <div class="mb-3 mx-2 px-2 row">
                            <label for="password2" class="row col-form-label">Password2</label>
                            <div class="row">
                                <input type="password" class="form-control" name="password2" ngModel required>
                            </div>
                        </div>
                        <!-- Campo para el empleado -->
                        <div class="mb-3 mx-2 px-2 row">
                            <label for="idEmpleado" class="row col-form-label">Empleado:</label>
                            <select class="form-select w-75" aria-label="Default select example" name="idEmpleado"
                                [(ngModel)]="empleado_seleccionado" required>
                                <option selected>Seleccione...</option>
                                <ng-container *ngFor="let x of empleadoList">
                                    <option value="{{x.id}}">{{x.nombre}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <!-- Campo para el rol -->
                        <div class="mb-3 mx-2 px-2 row">
                            <label for="idRol" class="row col-form-label">Rol:</label>
                            <select class="form-select w-75" aria-label="Default select example" name="idRol"
                                [(ngModel)]="rol_seleccionado" required>
                                <option selected>Seleccione...</option>
                                <ng-container *ngFor="let x of rolList">
                                    <option value="{{x.id}}">{{x.rol}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-warning" [disabled]="User.invalid">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Este modal sirve para editar un usuario -->
<div class="modal" id="editInst" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header bg-warning text-black text-center">
                <h5 class="modal-title fs-5 text-center m-auto" id="exampleModalLabel">Actualizar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #UpdateUser="ngForm"
                    (ngSubmit)="actualizar_usuario(UpdateUser.value.email,UpdateUser.value.username,UpdateUser.value.idEmpleado,UpdateUser.value.idRol)"
                    id="CreateUsuario">
                    <div class="col">
                        <!-- Campo para el E-Mail -->
                        <div class="mb-3 mx-2 px-2 row">
                            <label for="email" class="row col-form-label">E-Mail:</label>
                            <div class="row">
                                <input type="text" class="form-control" name="email" value="{{data_update.email}}" ngModel required>
                            </div>
                        </div>
                        <!-- Campo para el nombre de Usuario -->
                        <div class="mb-3 mx-2 px-2 row">
                            <label for="username" class="row col-form-label">Nombre de Usuario</label>
                            <div class="row">
                                <input type="text" class="form-control" name="username" value="{{data_update.username}}" ngModel required>
                            </div>
                        </div>
                        <!-- Campo para el empleado -->
                        <div class="mb-3 mx-2 px-2 row">
                            <label for="idEmpleado" class="row col-form-label">Empleado:</label>
                            <select class="form-select w-75" aria-label="Default select example" name="idEmpleado"
                                [(ngModel)]="empleado_seleccionado" required>
                                <option selected>Seleccione...</option>
                                <ng-container *ngFor="let x of empleadoList">
                                    <option value="{{x.id}}" [selected]="x.id === data_update.empleado.id">{{x.nombre}}</option>
                                </ng-container>
                            </select>
                        </div>
                        <!-- Campo para el rol -->
                        <div class="mb-3 mx-2 px-2 row">
                            <label for="idRol" class="row col-form-label">Rol:</label>
                            <select class="form-select w-75" aria-label="Default select example" name="idRol"
                                [(ngModel)]="rol_seleccionado" required>
                                <option selected>Seleccione...</option>
                                <ng-container *ngFor="let x of rolList">
                                    <option value="{{x.id}}"[selected]="x.id === data_update.role.id" >{{x.rol}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-warning">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Este modal sirve para eliminar un usuario -->
<div class="modal" tabindex="-1" id="eliminarUsuario">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title fs-3 m-auto"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de eliminarla? </p>
            </div>
            <form id="eliminarUsuario">
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger" (click)="delete()">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>