<mat-tab-group [backgroundColor]="color" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Resumen de Presupuesto:">
    <div class="card border-info bg-light" style="height: 250px">
      <!-- <h2 class="card-header bg-info" style="color:white;">Resumen de Presupuesto:</h2> -->
      <div class=" bg-white card-body p-0">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Fuente</th>
                <th scope="col">Techo Presupuestario</th>
                <th scope="col">Gastado</th>
                <th scope="col">Disponible</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Fuente 11</th>
                <td>{{+PoaList.fuente11| currency:'L'}}</td>
                <td>{{gastosFuente11| currency:'L'}}</td>
                <td><strong>{{+PoaList.fuente11-gastosFuente11| currency:'L'}}</strong></td>
                <!-- <td >{{+PoaList.fuente11-gastosFuente11| currency:'L'}}</td> -->

              </tr>
              <tr>
                <th scope="row">Fuente 12</th>
                <td>{{+PoaList.fuente12| currency:'L'}}</td>
                <td>{{gastosFuente12| currency:'L'}}</td>
                <td><strong>{{+PoaList.fuente12-gastosFuente12| currency:'L'}}</strong></td>
              </tr>
              <tr>
                <th scope="row">Fuente 12B</th>
                <td>{{+PoaList.fuente12B| currency:'L'}}</td>
                <td>{{gastosFuente12B| currency:'L'}}</td>
                <td><strong>{{+PoaList.fuente12B-gastosFuente12B| currency:'L'}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Progreso">
    <div class="card border-info bg-light" style="height: 250px">
      <!-- <h2 class="card-header bg-info" style="color:white;">Resumen de Presupuesto:</h2> -->
      <div class="bg-white card-body">
        <div>
         
          <h3 class="example-h2">Fuente 11</h3>
          <div class="row">
            <div class="col-10">
            <ng-container *ngIf="((gastosFuente11/+PoaList.fuente11)*100)>80; else porcentajemenor">
            <mat-progress-bar style="height: 20px;" color="warn" mode="determinate" value="{{(gastosFuente11/+PoaList.fuente11)*100}}"></mat-progress-bar>
            </ng-container>
            <ng-template #porcentajemenor>
              <mat-progress-bar style="height: 20px;" color="primary" mode="determinate" value="{{(gastosFuente11/+PoaList.fuente11)*100}}"></mat-progress-bar>
            </ng-template>
          </div>
          <div class="col-2">
            {{gastosFuente11/+PoaList.fuente11| percent}}
          </div>
          </div>
          <h3 class="example-h2">Fuente 12</h3>

          <div class="row">
            <div class="col-10">
            <ng-container *ngIf="((gastosFuente12/+PoaList.fuente12)*100)>80; else porcentajemenor1">
              <mat-progress-bar style="height: 20px;" color="warn" mode="determinate" value="{{(gastosFuente12/+PoaList.fuente12)*100}}"></mat-progress-bar>
              </ng-container>
              <ng-template #porcentajemenor1>
                <mat-progress-bar style="height: 20px;" color="primary" mode="determinate" value="{{(gastosFuente12/+PoaList.fuente12)*100}}"></mat-progress-bar>
              </ng-template>
              </div>
          <div class="col-2">
            {{gastosFuente12/+PoaList.fuente12| percent}}
          </div>
          </div>

          <h3 class="example-h2">Fuente 12B</h3>
          <div class="row">
            <div class="col-10">
          <ng-container *ngIf="((gastosFuente12B/+PoaList.fuente12B)*100)>80; else porcentajemenor2">
            <mat-progress-bar style="height: 20px;" color="warn" mode="determinate" value="{{(gastosFuente12B/+PoaList.fuente12B)*100}}"></mat-progress-bar>
            </ng-container>
            <ng-template #porcentajemenor2>
              <mat-progress-bar style="height: 20px;" color="primary" mode="determinate" value="{{(gastosFuente12B/+PoaList.fuente12B)*100}}"></mat-progress-bar>
            </ng-template>
            </div>
          <div class="col-2">
            {{gastosFuente12B/+PoaList.fuente12B| percent}}
          </div>
          </div>
          
         
          
          
           
          <!-- <nz-progress [nzPercent]="30" nzSize="small"></nz-progress>
  <nz-progress [nzPercent]="50" nzSize="small" nzStatus="active"></nz-progress>
  <nz-progress [nzPercent]="70" nzSize="small" nzStatus="exception"></nz-progress>
  <nz-progress [nzPercent]="100" nzSize="small"></nz-progress>
  <nz-progress [nzPercent]="50" nzSize="small" [nzShowInfo]="false"></nz-progress> -->
        </div>
      
    </div>
    </div>
   
  </mat-tab>




</mat-tab-group>